---
title: The Green Emporium
description: The Green Emporium is the latest creation from Laëtitia Van de Walle, founder of Lamazuna. Since 2010, Lamazuna has been leading the way in zero waste in the bathroom.
layout: default
lang: en
ref: the-green-emporium
hero:
  img:
    src: SLIDER_-1-16c-1920w.png
    alt: Solid shampoo – Dry hair
section_valeurs:
  titre: Our values
  contenu: The Green Emporium is committed to offering better, greener alternatives to products that we use every day, while minimizing their impact on the environment and animals.
  btn: Find out more
section_gamme:
- titre: Dry hair
  descriptif: Restore softness, suppleness and shine!
  color: vanille
  background:
    color: vanille-light
    url: SHAMPOING_SOLIDE_VANILLE.png
- titre: Detox
  descriptif: Purify and freshen up your scalp and hair!
  color: menthe
  background:
    color: menthe-light
    url: SHAMPOING_SOLIDE_MENTHE.png
- titre: Sensitive scalps
  descriptif: Soothe and calm your scalp!
  color: lavande
  background:
    color: lavande-light
    url: SHAMPOING_SOLIDE_LAVANDE.png
- titre: Oily hair
  descriptif: Now your hair won't get oily again so quickly!
  color: pamplemousse
  background:
    color: pamplemousse-light
    url: SHAMPOING_SOLIDE_PAMPLEMOUSSE.png
- titre: Normal hair
  descriptif: For hair that feels stronger, revitalized and really healthy!
  color: amande
  background:
    color: amande-light
    url: SHAMPOING_SOLIDE_AMANDE.png
- titre: Family
  descriptif: Every member of the family can enjoy strong, shiny hair!
  color: fruits-exotiques
  background:
    color: fruits-exotiques-light
    url: SHAMPOING_SOLIDE_EXOTIQUES.png
section_made_in_france:
  titre: Made in France
  contenu: All our shampoos are made in Nice.
  background:
    url: AdobeStock_-36-b&w-960w.png
    color: menthe-light
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
section_engagements:
  titre: A committed brand
  contenu: The Green Emporium is committed to making a difference. That's why it's supporting Surfrider Foundation Europe. Find out more <a href="/en/plastic-pollution">here!</a>
  background:
    url: AdobeStock_-1-b&w-960w.png
    color: bleu-light
  img:
    src: logo-surfrider-foundation-europe.svg
    alt: Nice
---

<main class="home">

  <h1 class="visually-hidden">{{ site.title }}</h1>

  <header id="hero">
    <img class="w-100" src="{{ page.hero.img.src | prepend: '/assets/img/' | relative_url }}"
      alt="{{ page.hero.img.alt }}">
  </header>

  {% include valeurs.html valeurs=page.section_valeurs %}

  <section class="section grid-2_md-1 grid-noGutter gamme">
    <div id="simultaneous-text-swiper" class="swiper-container section__text simultaneous col">
      <div class="swiper-wrapper">
        {% for produit in page.section_gamme %}
        <div
          class="swiper-slide section__text invert flex flex-col justify-center ta-center wave--before wave--after wave--white"
          style="background-color: var(--{{ produit.color }})">
          <h3 class="">{{ produit.titre | textilize }}</h3>
          <p class="mx-auto">{{ produit.descriptif | textilize }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="simultaneous-img-swiper" class="swiper-container section__img col">
      <div class="swiper-wrapper">
        {% for produit in page.section_gamme %}
        <div class="h100 swiper-slide swiper-slide-style"
          style="background: center / contain no-repeat var(--{{ produit.background.color }}) url('{{ produit.background.url | prepend: '/assets/img/' | relative_url }}')">
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section id="made-in-france" class="section grid-2_md-1 grid-noGutter">
    <div class="section__img col filter--brand-color">
      <div class="h-100 bg--darken"
        style="background-image: linear-gradient(var(--{{ page.section_made_in_france.background.color }}), var(--{{ page.section_made_in_france.background.color }})), url('{{ page.section_made_in_france.background.url | prepend: '/assets/img/' | relative_url }}')">
      </div>
    </div>
    <div
      class="section__text col padded invert flex flex-col justify-center ta-center wave--before wave--after wave--white">
      <h3>{{ page.section_made_in_france.titre | textilize }}</h3>
      <p class="mx-auto">{{ page.section_made_in_france.contenu | textilize }}</p>
    </div>
  </section>

  {% include ingredients.html ingredients=page.section_ingredients %}

  {% include engagements.html engagements=page.section_engagements %}

</main>