---
title: Ingredients
description:
lang: en
ref: ingredients
image:
layout: default
titre_principal: Our ingredients
section_ingredients:
- couleur: "#FFE72C"
  titre: Organic sunflower oil
  description: With both softening and hydrating properties, sunflower oil leaves hair looking silky, shiny and full of vitality.
- couleur: "#CBF7AB"
  titre: Organic sweet almond oil
  description: Rich in Vitamins A and E, this oil works to revitalize and strengthen your hair, and leaves it feeling more supple. With softening, nourishing and repairing properties, it prevents hair from drying out and restores vitality to damaged hair.
- couleur: "#DDBA92"
  titre: Organic argan oil
  description: Rich in Vitamin E, fatty acids and polyphenols, this oil is ideal for preventing dryness. It's perfect for devitalized, brittle and dehydrated hair, and restores radiance and shine to dull and lacklustre hair.
- couleur: "#DE815E"
  titre: Organic jojoba oil
  description: This oil helps to normalize sebum production, restoring balance to oily hair. It's also excellent for dry and brittle hair, as it has nourishing, rehydrating and softening properties, enabling it to restore vitality, suppleness and shine.
- couleur: "#FFF4E2"
  titre: Organic shea butter
  description: Rich in essential fatty acids and Vitamin A, shea butter penetrates the hair fibre and rehydrates the scalp. It's the ideal ingredient for dry, curly, brittle and dull hair, and leaves your locks feeling soft and silky.
- couleur: "#FFB055"
  titre: Organic apricot oil
  description: Rich in mineral salts and Vitamin A, apricot oil invigorates, revitalizes and nourishes the hair, restoring radiance, shine and vitality. It also helps to strengthen the scalp.
- couleur: "#748D61"
  titre: Organic laurel berry oil
  description: This oil is known for its ability to purify and soothe irritated and damaged scalps, which is why we've used it in our shampoo for sensitive scalps. It also helps to fight dandruff.
- couleur: "#FF7B41"
  titre: Grapefruit essential oil
  description: This essential oil has antiseptic properties, so it can help to clear the skin and balance oily hair. It's even said to prevent hair loss.
- couleur: "#22580A"
  titre: Field mint essential oil
  description: This oil has a powerful, refreshing, invigorating scent. It also has an analgesic effect, which can relieve headaches.
- couleur: "#FFB100"
  titre: Organic calendula flower extract
  description: Calendula helps to relieve skin problems and heal scars, and has anti-inflammatory properties. It has a regenerating effect on the hair and adds vibrancy and shine.
- couleur: "#FFEAFD"
  titre: Organic marshmallow root powder
  description: This powder has many benefits, including the ability to relieve itching and irritation, which is why we used it in our shampoo for sensitive scalps. It helps to fight dandruff, hydrates, detangles, and adds volume to hair.
- couleur: "#E3C3F7"
  titre: Organic lavandin grosso essential oil
  description: Extracted from a flower that's associated with the Drôme region, this essential oil, with its fresh and camphorous scent, is popular for both its fragrance and its properties. It soothes, relaxes, and also acts as an anti-inflammatory. It can be used to dry and heal wounds, and is traditionally recommended as an oil to complement hair lice treatments.
- couleur: "#FF4941"
  titre: Organic castor oil
  description: Known to promote hair growth, castor oil does not penetrate the hair shaft, but coats and protects it. It contains fatty acids that are similar to those found naturally in the scalp's sebum. This makes it a very effective natural solution for devitalized hair or split ends. It helps to prevent hair dryness, and adds softness and shine.
contenu_dans: "We use it in:"
---

<main class="les-ingredients">

  <header id="nos-ingredients" class="section invert bg--vanille py-6">
    <div class="container flex flex-col items-center justify-center ta-center wave--before wave--after">
      <h1>{{ page.titre_principal | textilize }}</h1>
    </div>
  </header>
  
  <section id="ingredients" class="section flex flex-wrap justify-center">
  {% for ingredient in page.section_ingredients %}
    <article class="ingredient flex flex-col content-center ta-center">
      <div class="circle mx-auto" style="{{ ingredient.couleur | prepend: 'background-color:' }}"></div>
      <h4 class="ingredient__title fw-book">{{ ingredient.titre | textilize }}</h4>
      <p class="ingredient__description geomanist mx-auto">{{ ingredient.description | textilize }}</p>
      {% if ingredient.produits %}
        <div class="ingredient__contained">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 116 20" fill="{{ ingredient.couleur }}">
            <path
              d="M14.093 11.111c-3.376 0-5.277 1.335-8.209 3.511L.35 5.378l.138-.102C3.528 3.017 7.5 0 14.093 0 20.687 0 24.66 3.017 27.7 5.275l.138.103c2.931 2.175 4.832 3.51 8.209 3.51 3.376 0 5.277-1.335 8.209-3.51.045-.035.091-.069.138-.103C47.434 3.017 51.496 0 58 0s10.565 3.017 13.606 5.275l.138.103c2.932 2.175 4.833 3.51 8.21 3.51 3.375 0 5.277-1.335 8.208-3.51l.138-.103C91.341 3.017 95.403 0 101.907 0c6.503 0 10.565 3.017 13.606 5.275l.138.103-5.535 9.245c-2.932-2.176-4.833-3.512-8.209-3.512-3.377 0-5.278 1.335-8.21 3.511l-.138.103C90.52 16.983 86.457 20 79.953 20c-6.672 0-10.565-3.017-13.606-5.275l-.138-.102C63.278 12.447 61.376 11.11 58 11.11c-3.376 0-5.278 1.335-8.21 3.511-.045.034-.09.069-.137.103C46.612 16.983 42.55 20 36.047 20c-6.504 0-10.566-3.017-13.606-5.275l-.139-.102c-2.931-2.176-4.832-3.512-8.209-3.512z" />
          </svg>
          <p>{{ page.contenu_dans }}</p>
          <ul>
            {% for produit in ingredient.produits %}
              {% if produit.nom and produit.url %}
              <li><a href="{{ produit.url }}">{{ produit.nom }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </article>
  {% endfor %}
  </section>

</main>
