---
title: The Green Emporium
description: The Green Emporium est la dernière création de Laëtitia Van de Walle,
  fondatrice de Lamazuna. Depuis 2010, Lamazuna est la marque de référence du zéro
  déchet dans la salle de bain.
layout: default
hero:
  img:
    src: SLIDER_-1-16c-1920w.png
    alt: Shampoing solide – Cheveux sec
section_valeurs:
  titre: Nos valeurs
  contenu: L’engagement de The Green Emporium est d’offrir les meilleures alternatives
    aux produits du quotidien tout en réduisant le plus possible l’impact écologique
    sur la planète et les animaux.
  btn: En savoir +
section_gamme:
- titre: Cheveux secs
  descriptif: Ils retrouveront douceur souplesse et brillance&#8239;!
  color: vanille
  background:
    color: vanille-light
    url: SHAMPOING_SOLIDE_VANILLE.png
- titre: Détox
  descriptif: Vos cheveux et votre cuir chevelu seront assainis et frais&#8239;!
  color: menthe
  background:
    color: menthe-light
    url: SHAMPOING_SOLIDE_MENTHE.png
- titre: Cuirs chevelus sensibles
  descriptif: Les cuirs chevelus sensibles seront zen&#8239;!
  color: lavande
  background:
    color: lavande-light
    url: SHAMPOING_SOLIDE_LAVANDE.png
- titre: Cheveux gras
  descriptif: Vos cheveux regraissent moins vite&#8239;!
  color: pamplemousse
  background:
    color: pamplemousse-light
    url: SHAMPOING_SOLIDE_PAMPLEMOUSSE.png
- titre: Cheveux normaux
  descriptif: Vos cheveux seront revitalisés et fortifiés, tout simplement en pleine
    santé&#8239;!
  color: amande
  background:
    color: amande-light
    url: SHAMPOING_SOLIDE_AMANDE.png
- titre: Familial
  descriptif: Tous les cheveux de la famille seront forts et brillants&#8239;!
  color: fruits-exotiques
  background:
    color: fruits-exotiques-light
    url: SHAMPOING_SOLIDE_EXOTIQUES.png
section_made_in_france:
  titre: Fabriqué en France
  contenu: Tous nos shampoings sont fabriqués à Nice.
  background:
    url: AdobeStock_-36-b&w-960w.png
    color: menthe-light
section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: "/les-ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
section_engagements:
  titre: Une marque engagée
  contenu: Au cœur du projet, The Green Emporium s’engage avec Surfrider Foundation
    Europe, on vous explique tout <a href="{{ '/la-pollution-plastique' | relative_url
    }}">ici</a>
  background:
    url: AdobeStock_-1-b&w-960w.png
    color: bleu-light
  img:
    src: logo-surfrider-foundation-europe.svg
    alt: Nice
---

<main class="home">

  <h1 class="visually-hidden">{{ site.title }}</h1>

  <div id="hero">
    <img class="w-100" src="{{ page.hero.img.src | prepend: '/assets/img/' | relative_url }}"
      alt="{{ page.hero.img.alt }}">
  </div>

  {% include valeurs.html valeurs=page.section_valeurs %}

  <section class="section grid-2_md-1 grid-noGutter gamme">
    <div id="simultaneous-text-swiper" class="swiper-container section__text simultaneous col">
      <div class="swiper-wrapper">
        {% for produit in page.section_gamme %}
        <div
          class="swiper-slide section__text invert flex flex-col justify-center ta-center wave--before wave--after wave--white"
          style="background-color: var(--{{ produit.color }})">
          <h3 class="">{{ produit.titre | textilize }}</h3>
          <p class="mx-auto">{{ produit.descriptif | textilize }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="simultaneous-img-swiper" class="swiper-container section__img col">
      <div class="swiper-wrapper">
        {% for produit in page.section_gamme %}
        <div class="h100 swiper-slide swiper-slide-style"
          style="background: center / contain no-repeat var(--{{ produit.background.color }}) url('{{ produit.background.url | prepend: '/assets/img/' | relative_url }}')">
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section id="made-in-france" class="section grid-2_md-1 grid-noGutter">
    <div class="section__img col filter--brand-color">
      <div class="h-100 bg--darken"
        style="background-image: linear-gradient(var(--{{ page.section_made_in_france.background.color }}), var(--{{ page.section_made_in_france.background.color }})), url('{{ page.section_made_in_france.background.url | prepend: '/assets/img/' | relative_url }}')">
      </div>
    </div>
    <div
      class="section__text col padded invert flex flex-col justify-center ta-center wave--before wave--after wave--white">
      <h3>{{ page.section_made_in_france.titre | textilize }}</h3>
      <p class="mx-auto">{{ page.section_made_in_france.contenu | textilize }}</p>
    </div>
  </section>

  {% include ingredients.html ingredients=page.section_ingredients %}

  {% include engagements.html engagements=page.section_engagements %}

</main>