---
title: La gamme
description:
image:
layout: default
section_protocole:
  titre: Protocole et conseils
  sous_titre: 'Comment utiliser nos shampoings solides :'
  contenu: Mouillez vos cheveux, puis le shampoing, avant de l’appliquer à même le
    cuir chevelu. Frottez, une jolie mousse légère et onctueuse va apparaître … Il
    n’y a plus qu’à rincer ! Pensez bien à mettre le shampoing solide sur un porte-savon
    pour qu’il dure longtemps, longtemps ! Évitez le contact avec les yeux.
section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous qu’il faut s’armer d’un peu de patience et de quelques
    lavages afin de vous permettre d’enlever la pellicule de silicone contenue dans
    les produits non naturels ?
  paragraphe_2: Une fois le silicone éliminé, vous allez retrouver beaucoup de brillance
    naturelle !
- numero: N°2
  paragraphe_1: Savez-vous qu’il n’est pas nécessaire de frotter vos longueurs et
    vos pointes ?
  paragraphe_2: C’est la racine qui doit être nettoyée en massant le cuir chevelu
    !
- numero: N°3
  paragraphe_1: Savez-vous que rincer vos cheveux à l’eau froide donne un « coup de
    fouet » idéal ?
  paragraphe_2: Il stimule la circulation sanguine, referme les écailles du cheveu
    et ajoute de la brillance !
- numero: N°4
  paragraphe_1: Savez-vous que se démêler les cheveux avant shampoing permet de les
    avoir plus doux après le lavage !
  paragraphe_2:
- numero: N°5
  paragraphe_1: Pour faciliter le coiffage après le lavage, appliquez le shampoing
    solide en effectuant un mouvement de brossage sur toute la chevelure, plutôt que
    des cercles qui emmêlent vos cheveux.
  paragraphe_2:
- numero: N°6
  paragraphe_1: Pour faire mousser votre shampoing, vous pouvez également frotter
    le pain entre vos mains et masser vos cheveux comme avec un shampoing liquide.
  paragraphe_2:
titre_section_gamme: La gamme
section_gamme:
- titre: Shampoing cheveux normaux
  description: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide cheveux normaux : de l’huile d’argan, de l’huile d’amande douce,
    de l’huile de tournesol, des agents moussants, de l’argile, du parfum, un antioxydant
    et un pigment pour lui donner sa jolie couleur verte !'
  formule: Les géniales huiles d’<strong>amande douce bio</strong> et <strong>d’argan</strong> présentes dans notre
    shampoing sont hydratantes, assouplissantes et fortifiantes.
  benefices: Vos cheveux seront revitalés et fortifiés, tout simplement en pleine
    santé !
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: amande-light
  background:
    url: VISUEL_AMANDE-15.jpg
- titre: Shampoing détox
  description: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide détox : de l’huile essentielle de menthe des champs, de l’huile
    de tournesol, des acides gras, des agents moussants, de l’argile, de l’huile de
    baie de laurier, du menthol, du parfum, un antioxydant et un pigment pour lui
    donner sa jolie couleur bleue !'
  formule: Notre shampoing super rafraîchissant avec de <strong>l’huile de baie de laurier
    bio</strong> et de <strong>l’huile essentielle de menthe bio</strong> a été formulé pour nettoyer en profondeur
    et purifier. Vos cheveux et votre cuir chevelu seront assainis et frais ! C’est
    le shampoing parfait pour une transition du conventionnel au bio !
  benefices: La menthe, c'est fort..! Évitez le contact avec les yeux.
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: menthe-light
  background:
    url: VISUEL_menthe-12.jpg
- titre: Shampoing familial
  description: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide pour toute la famille : de l’huile de ricin, de l’huile d’abricot,
    de l’huile de tournesol, des acides gras, des agents moussants, de l’argile, du
    parfum et un antioxydant. Véritable recette douceur, c’est <strong>LE</strong> shampoing qui convient
    à toute la famille ! Sans allergène et <strong>convenant aux femmes enceintes</strong>, il lave
    vos cheveux en délicatesse et les parfume subtilement.'
  formule: <strong>L’huile d’abricot bio et huile de ricin</strong> vous font le plein d’acides gras
    et minéraux.
  benefices: Tous les cheveux de la famille seront forts et brillants !
  allergenes: Évitez le contact avec les yeux.
  color: fruits-exotiques-light
  background:
    url: VISUEL_FE.jpg
- titre: Shampoing cheveux secs
  description: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide cheveux secs : du beurre de karité, de l’huile de tournesol,
    des acides gras, des agents moussants, de l’argile, du parfum, un antioxydant
    et un pigment pour lui donner sa jolie couleur jaune !'
  formule: <strong>Le beurre de karité bio</strong> est un ingrédient naturellement ultra riche, choisi
    pour adoucir et protéger la fibre capillaire. Associé à de <strong>l’huile de tournesol</strong>,
    vos cheveux seront nourris en profondeur et assouplis.
  benefices: Ils retrouveront douceur, souplesse et brillante !
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: vanille-light
  background:
    url: VISUEL_vanille.jpg
- titre: Shampoing cheveux gras
  description: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide cheveux gras : de l’huile de jojoba, de l’huile essentielle de
    pamplemousse, de l’huile de tournesol, des acides gras, des agents moussants,
    de l’argile, du parfum, un antioxydant et un pigment pour lui donner sa jolie
    couleur rose !'
  formule: 'Notre formule associe deux ingrédients au top, connus pour leurs vertus
    sébo-régulatrices : <strong>l’huile végétale de jojoba bio</strong> et <strong>l’huile essentielle de pamplemousse</strong>
    ! Cette combinaison purifie vos racines, soigne vos longueurs et donne à vos cheveux
    fraîcheur et légèreté.'
  benefices: Vos cheveux regraissent moins vite !
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: pamplemousse-light
  background:
    url: VISUEL_PAMPLEMOUSSE-14.jpg
- titre: Shampoing cuir chevelu sensible
  description: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide pour cuirs chevelus sensibles : de la poudre de guimauve, un
    macérat huileux de calendula, de l’huile essentielle de lavande, de l’huile de
    tournesol, des acides gras, des agents moussants, de l’argile, un antioxydant,
    du parfum et un pigment pour lui donner sa jolie couleur violette !'
  formule: Les bienfaits calmants et relaxants de <strong>l’huile essentielle de lavandin
    bio</strong> ainsi que son odeur tellement agréable vont transformer votre shampoing en
    un chouette moment de détente. <strong>Le calendula bio</strong> qui y a été ajouté soulage les
    irritations et démangeaisons.
  benefices: Les cuirs chevelus sensibles seront zen !
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: lavande-light
  background:
    url: VISUEL_LAVANDE-13.jpg
section_ingredients:
  titre: Découvrez <br>nos ingrédients
  href: /les-ingredients
  background:
    url: AdobeStock_-35-b&w-960w.jpg
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <section id="protocole" class="section invert py-8">
    <div class="container flex flex-col items-center justify-center ta-center wave--before wave--after">
      <h2>{{ page.section_protocole.titre | textilize }}</h2>
      <h3>{{ page.section_protocole.sous_titre | textilize }}</h3>
      <p class="fz-3">{{ page.section_protocole.contenu | textilize }}</p>
    </div>
  </section>

  <section id="conseils" class="section">
    <div class="swiper-container section__text">
      <div class="swiper-wrapper">
        {% for conseil in page.section_conseils %}
        <div class="swiper-slide section__text invert bg--menthe">
          <div class="py-8 mx-8">
            <div class="grid-2_md-1 grid-noGutter flex items-center justify-center content-center conseil">
              <h3 class="col ta-center">{{ conseil.numero | textilize }}</h3>
              <div class="col flex flex-col pb-6">
                <p class="fz-3 geomanist">{{ conseil.paragraphe_1 | textilize }}</p>
                <p class="fz-3 fw-bold">{{ conseil.paragraphe_2 | textilize }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>

  <section id="gamme" class="section">
    <h2 class="ta-center py-7">{{ page.titre_section_gamme | textilize }}</h2>
    {% for produit in page.section_gamme %}
    <div class="grid-2_md-1 grid-noGutter flex-row-reverse ">
      <div class="section__text col flex flex-col justify-center produit">
        <h3 class="produit__titre">{{ produit.titre | textilize }}</h3>
        <p class="produit__description geomanist">{{ produit.description | textilize }}</p>
        <p class="produit__formule geomanist">{{ produit.formule | textilize }}</p>
        <p class="produit__benefices geomanist uppercase">{{ produit.benefices | textilize }}</p>
        <p class="produit__allergenes geomanist fw-bold"><small>{{ produit.allergenes | textilize }}</small></p>
      </div>
      <div class="section__img col" style="background-color: var(--{{ produit.color }})">
        <div class="h-100" style="background: center / cover no-repeat url('{{ produit.background.url | prepend: '/assets/img/' | relative_url }}')"></div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section id="ingredients" class="section relative">
    <div class="section__img filter--fruits-exotiques">
      <div class="bg--darken" style="background-image: linear-gradient(var(--{{ page.section_ingredients.background.color }}), var(--{{ page.section_ingredients.background.color }})), url('{{ page.section_ingredients.background.url | prepend: '/assets/img/' | relative_url }}')">
      </div>
    </div>
    <div class="grid-2_md-1 grid-noGutter" style="position:absolute; top:0; left:0; right:0">
      <div class="section__text col padded flex flex-col justify-center content-center ta-center wave--before wave--after">
        <h3><a href="{{ page.section_ingredients.href | relative_url }}">{{ page.section_ingredients.titre | textilize }}</a></h3>
      </div>
    </div>
  </section>

</main>
