---
title: Nos valeurs
description:
image:
layout: default
section_histoire:
  titre: Notre histoire
  contenu: The Green Emporium est la dernière création de Laëtitia Van de Walle, fondatrice de Lamazuna. Depuis 2010, Lamazuna est la marque de référence du zéro déchet dans la salle de bain. Dédiée originellement aux réseaux bio, elle propose aujourd’hui une nouvelle version de ses shampoings solides en exclusivité pour le réseau GMS.
  img:
    src: LAETITIA-64c-480w.jpg
    alt: Portrait de Laëtitia Van de Walle.
section_chiffres:
  titre: En chiffres
  chiffres:
  - chiffre: 9&#8239;ans
    details: d’expérience
  - chiffre: 38
    details: salariés
  - chiffre: 29
    details: millions de déchets évités depuis 2010
section_video:
  url: https://www.brut.media/fr/health/objectif-zero-dechet-dans-la-salle-de-bains-78db296f-2581-4769-ade3-9171978dfe29
  img:
    src: IMG_BRUT-16c-442w.png
    alt: Brut.
section_origine:
  img:
    src: TGE-logo.svg
    alt: Logo The Green Emporium
  contenu: Laëtitia a découvert le film «&#8239;Mr Magorium’s Wonder Emporium&#8239;» dans lequel «&#8239;Emporium&#8239;» fait référence à un fantastique magasin de jouets. Quelques années plus tard, elle reprend ce nom pour offrir des solutions écologiques à nos supermarchés.
section_valeurs:
  titre: Nos valeurs
  contenu: L’engagement de The Green Emporium est d’offrir les meilleures alternatives aux produits du quotidien tout en réduisant le plus possible l’impact écologique sur la planète et les animaux. Nos shampoings solides permettent d’éliminer les flacons en plastique et d’utiliser la juste dose de produit tout en respectant le cuir chevelu grâce à des formules véganes et naturelles. La fabrication est 100% française.
section_labels:
  titre: Nous sommes labellisés
  labels:
  - img:
      src: logo-slow-cosmetique.svg
      alt: Slow cosmétiques
  - img:
      src: logo-OFG.svg
      alt: Origine France garantie
  - img:
      src: logo-vegan.svg
      alt: Vegan
section_engagements:
  titre: Une marque engagée
  contenu: Au cœur du projet, The Green Emporium s’engage avec Surfrider Foundation Europe, on vous explique tout <a href="{{ '/la-pollution-plastique' | relative_url }}">ici</a>
  background:
    url: AdobeStock_-1-b&w-960w.png
    color: bleu-light
  img:
    src: logo-surfrider-foundation-europe.svg
    alt: Nice
---

<main class="nos-valeurs">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <section id="histoire" class="section grid grid-noGutter">
    <div class="section__img col-4_sm-12">
      <img class="h-100 w-100"
        src="{{ page.section_histoire.img.src | prepend: '/assets/img/' | relative_url }}"
        alt="{{ page.section_histoire.img.alt }}">
    </div>
    <div
      class="container bg--whale bg--amande-light col-8_sm-12 flex flex-col items-center justify-center ta-center wave--before wave--after">
      <div class="mx-8">
        <h3>{{ page.section_histoire.titre | textilize }}</h3>
        <p class="fz-3">{{ page.section_histoire.contenu | textilize }}</p>
      </div>
    </div>
  </section>

  <section id="chiffres" class="section py-8">
    <div class="container flex flex-col items-center ta-center">
      <h2 class="bleu">{{ page.section_chiffres.titre | textilize }}</h2>
      <div class="grid-3_md-1 items-end">
        {% for produit in page.section_chiffres.chiffres %}
        <div class="col uppercase fw-bold wave--after">
          <p><span class="chiffre">{{ produit.chiffre | textilize }}</span><br>
            <span class="details">{{ produit.details | textilize }}</span></p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="video" class="section bg--amande-light py-8">
    <div class="container flex flex-col items-center justify-center">
      <figure>
        <a href="{{ page.section_video.url }}" target='_blank'>
          <img
            src="{{ page.section_video.img.src | prepend: '/assets/img/' | relative_url }}"
            alt="{{ page.section_video.img.alt }}">
          <svg id="play" aria-label="Play" xmlns="http://www.w3.org/2000/svg" width="122" height="122" viewBox="0 0 122 122"><defs><style>.a,.b{fill:#fff;}.a{opacity:0.44;}</style></defs><g transform="translate(-335.75 -256.25)"><circle class="a" cx="61" cy="61" r="61" transform="translate(335.75 256.25)"/><path class="b" d="M387,298.75l31,19-31,18Z"/></g></svg>
        </a>
      </figure>
    </div>
  </section>

  <section id="origine" class="section py-8">
    <div
      class="container flex flex-col items-center justify-center ta-center wave--before wave--after">
      <img src="{{ page.section_origine.img.src | prepend: '/assets/img/' | relative_url }}"
        alt="{{ page.section_origine.img.alt }}" class="mb-7">
      <p class="fz-3 geomanist">{{ page.section_origine.contenu | textilize }}</p>
    </div>
  </section>

  {% include valeurs.html valeurs=page.section_valeurs invert="invert" %}

  <section id="labels" class="section">
    <div class="container flex flex-col items-center ta-center wave--before">
      <h3>{{ page.section_labels.titre | textilize }}</h3>
      <ul class="features grid-3">
        {% for label in page.section_labels.labels %}
        <li class="col">
          <figure>
            <img src="{{ label.img.src | prepend: '/assets/img/' | relative_url }}" alt="{{ label.img.alt }}">
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  {% include engagements.html engagements=page.section_engagements %}

</main>
