<section id="newsletter"
  class="container flex flex-col content-center items-center ta-center bg--vanille-light">
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup" class="w-100">
    <form
      action="https://the-green-emporium.us10.list-manage.com/subscribe/post?u=c87cf1d1889365ec6da6b477b&amp;id=8d8cbd6c28"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
      class="validate wave--before" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL" class="uppercase ta-center fw-bold clearfix">{{ site.data.translations.join_us[page.lang] }} <br><span class="fw-book" id="zerodechet">#{{ site.data.translations.zerowaste[page.lang] }}</span></label>
        <div id="newsletter-inputs" class="flex align-baseline justify-center">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
            placeholder="{{ site.data.translations.sign_up_newsletter[page.lang] }}" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_c87cf1d1889365ec6da6b477b_8d8cbd6c28" tabindex="-1" value=""></div>
          <input type="submit" value="Valider" name="subscribe" id="mc-embedded-subscribe"
            class="btn bg--vanille uppercase">
        </div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</section>

{% include modal_contact.html %}
{% include modal_service_client.html %}

<footer id="footer" class="container padded invert bg--whale grid-5_md-2_xs-1 items-start">
  <div class="col flex justify-center">
    <img src="{{ '/assets/img/Icone-Queue+vagues-blanc.png' | relative_url }}" alt="Logo The Green Emporium"
      width="120" height="120">
  </div>

  <nav class="col">
    <ul>
      {% for item in site.data.footer_links[page.lang] %}
      <li><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <nav class="col">
    <ul>
      <li><a href="{{ '/confidentialite' | relative_url }}">{{ site.data.translations.privacy_policy[page.lang] }}</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#service-client">{{ site.data.translations.customer_service[page.lang] }}</a></li>
    </ul>

    <p class="fz-1 mt-4">{{ site.data.translations.low_tech[page.lang] }} {% assign low_tech = site.pages | where: "ref", "low-tech" %}{% for version in low_tech %}{% if version.lang == page.lang %}<a href="{{ version.url }}">{% endif %}{% endfor %}{{ site.data.translations.read_more[page.lang] }}</a></p>
  </nav>

  <div class="col fw-book">
    {% for item in site.data.address %}
    {{ item.line }}<br>
    {% endfor %}
  </div>

  <div id="socials" class="col">
    <ul>
      {% for item in site.data.social_media %}
      <li><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</footer>
