<section class="section gamme">
  <div class="grid-2_md-1 grid-noGutter flex-row-reverse ">
    <div class="section__text col flex flex-col justify-center produit">
      <h3 class="produit__titre">{{ include.gamme.titre | textilize }}</h3>
      <p class="produit__description geomanist">{{ include.gamme.description | textilize }}</p>
      {% if include.gamme.formule %}
      <p class="produit__description geomanist">{{ include.gamme.usage | textilize }}</p>
      {% endif %}
      {% if include.gamme.formule %}
      <p class="produit__formule geomanist">{{ include.gamme.formule | textilize }}</p><br>
      {% endif %}
      {% if include.gamme.titre_garantie %}
        <p class="produit__titre_garantie geomanist">
          <span class="uppercase">{{ include.gamme.titre_garantie | textilize }}</span><br>
          <span>{{ include.gamme.description_garantie | textilize }}</span>
        </p>
      {% endif %}
      {% if include.gamme.usage_garantie %}
      <p class="produit__usage_garantie geomanist">{{ include.gamme.usage_garantie | textilize }}</p>
      {% endif %}
    </div>
    <div class="swiper-container section__img col">
      <div class="swiper-wrapper">
        {% for produit in page.section_gamme.produits %}
          <div class="h100 swiper-slide swiper-slide-style" style="background: center / cover no-repeat var(--{{ produit.color }}) url('{{ produit.background_url | prepend: '/assets/img/' | relative_url }}')">
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
