<nav class="container" role="navigation">
  <ul class="flex flex-wrap justify-center items-center align-center">
    {% for item in site.data.nav %}
      {% if item.subfolderitems %}
        <li class="flex fw-bold dropdown">
          <a href="{{ item.link | relative_url }}" class="uppercase">
            {{ item.name }}
          </a>
          <ul class="dropdown-content">
            {% for entry in item.subfolderitems %}
            <li class="small">
              <a href="{{ entry.link | relative_url }}">
                > {{ entry.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="flex fw-bold first-level">
          <a href="{{ item.link | relative_url }}" class="uppercase{% if item.link == page.url %} active{% endif %}">
          {{ item.name }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
