<nav class="container" itemscope itemtype="https://schema.org/SiteNavigationElement">

	<button aria-expanded="false" aria-controls="menu" aria-labelledby="menu-icon">
		<svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true">
		  <title id="menu-icon">Menu</title>
		  <rect x="5" y="9" width="30" height="3"></rect>
		  <rect x="5" y="19" width="30" height="3"></rect>
		  <rect x="5" y="29" width="30" height="3"></rect>
		</svg>
	</button>

	<div id="menu-overlay" style="display: none;"></div>

  <ul id="menu" class="flex justify-center items-center align-center" role="menu">
    {% for item in site.data.nav %}
      {% if item.subfolderitems %}
        <li class="flex fw-bold dropdown" role="menuitem">
          <a href="{{ item.link | relative_url }}" class="uppercase">
            {{ item.name }}
          </a>
          <ul class="dropdown-content">
            {% for entry in item.subfolderitems %}
            <li class="dropdown-item">
              <a href="{{ entry.link | relative_url }}">
                > {{ entry.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="flex fw-bold first-level" role="menuitem">
          <a href="{{ item.link | relative_url }}" class="uppercase{% if item.link == page.url %} active{% endif %}">
          {{ item.name }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
