<section id="protocole" class="section invert bg--whale" style="background-color: var(--{{ include.protocole.background_color }})">
  <div
    class="container flex flex-col items-center justify-center padded ta-center wave--before wave--after">
    <h2>{{ include.protocole.titre | textilize }}</h2>
    {% if include.protocole.sous_titre %}
      <p class="fz-3">{{ include.protocole.sous_titre | textilize }}</p>
    {% endif %}
    <p class="fz-3 m-0">{{ include.protocole.contenu | textilize }}</p>
  </div>
</section>
