<section id="valeurs" class="section {{ include.invert }}">
  <div class="container flex flex-col items-center ta-center wave--before">
    <h2>{{ include.valeurs.titre | textilize }}</h2>
    <p class="fz-3 geomanist">{{ include.valeurs.contenu | textilize }}</p>
    <ul class="features grid-4">
      {% for feature in site.data.features %}
      <li class="col">
        <figure>
          {{ feature.svg }}
          <figcaption class="fw-bold">{{ feature.titre | textilize }}</figcaption>
        </figure>
      </li>
      {% endfor %}
    </ul>
    {% if include.valeurs.btn %}
      <a href="/nos-valeurs" class="btn btn--outline btn--lg mb-8">{{ include.valeurs.btn | textilize }}</a>
    {% endif %}
  </div>
</section>
