// -------------------------------------------------------------------------------
// This file contains all styles related to the home page of the site/application.
// -------------------------------------------------------------------------------

.home {
  h2 {
    margin-top: 2em;
  }
  #gamme {
    h3 {
      margin: 0;
    }
    p {
      font-size: 22px;
    }
  }
  #ingredients {
    > div {
      min-height: 593px;
    }
    h3 {
      max-width: 10em;
      margin: 0 auto;
    }
    .section__img {
      div {
        padding-top: 593px;
      }
    }
  }
}