// -------------------------------------------------------------------------------
// This file contains all styles related to page les-ingredients of the site/application.
// -------------------------------------------------------------------------------

.les-ingredients {
  #nos-ingredients {
    min-height: 440px;
  }
  #ingredients {
    .ingredient {
      flex-basis: 100%;
      width: 100%;
      padding: 50px;
      border-bottom: 1px solid #ebebeb;
      &:last-child {
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-bottom: 0;
      }
      @media (min-width: $breakpoint-md) {
        flex-basis: 33.333%;
        width: 33.333%;
        &:nth-child(3n-1) {
          border-left: 1px solid #ebebeb;
          border-right: 1px solid #ebebeb;
        }
      }
      &__title {
        font-size: 30px;
        margin-top: 50px;
      }
      &__description {
        font-size: 18px;
      }
    }
  }
}
