// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
 !default;


/// Typographic scale
/// @type Length
$type-scale: 1.5; // Perfect Fitfh
$base-size: 1rem; // (16px)

$font-size-1: 12px;
$font-size-2: $base-size; 							  // 1rem (16px)
$font-size-3: $font-size-2 * $type-scale; // 1.5rem (24px)
$font-size-4: $font-size-3 * $type-scale; // 2.25rem (36px)
$font-size-5: $font-size-4 * $type-scale; // 3.375rem (54px)



/// Spacing
$space-scale: 1.5; // Perfect Fitfh
$base-space: 1rem; // (16px)

$space-0: 0px;
$space-1: $base-space / 8;        // 0.2rem (2px)
$space-2: $base-space / 4;        // 0.25rem (4px)
$space-3: $base-space / 2;        // 0.5rem (8px)
$space-4: $base-space;            // 1rem (16px)
$space-5: $space-4 * $space-scale; // 1.5rem (24px)
$space-6: $space-5 * $space-scale; // 2.25rem (36px)
$space-7: $space-6 * $space-scale; // 3.375rem (54.px)
$space-8: $space-7 * $space-scale; // 5.063rem (81px)


:root {
  --background: #fff;
  --brand-color: hsla(214, 100%, 16%, 1);
  --menthe: hsla(213, 75%, 52%, 1);
  --menthe-light: #CCE0F8;
  --amande: hsla(147, 58%, 71%, 1);
  --amande-light: #C4EFD7;
  --vanille: hsla(42, 100%, 64%, 1);
  --vanille-light: #FFF2D3;
  --fruits-exotiques: hsla(20, 100%, 71%, 1);
  --fruits-exotiques-light: #FFE8DC;
  --pamplemousse: hsla(354, 96%, 64%, 1);
  --pamplemousse-light: #FED4D8;
  --lavande: hsla(260, 47%, 80%, 1);
  --lavande-light: #F1EDF9;
  --camomille-light: #FEF5C3;
}


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'lg': 1280px,
  'md': 990px,
  'sm': 768px,
  'xs': 480px
) !default;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 990px;
$breakpoint-lg: 1280px;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
