---
title: Body soaps
description: null
lang: en
ref: body-soaps
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Tips & advice
  sous_titre:
  contenu: Wet the soap with water, then rub it to work up a lather. This soap is
    very gentle and recommended for use on the entire body.
section_conseils:
- numero: N°1
  paragraphe_1: Did you know that solid soap is more hygienic than liquid soap?
  paragraphe_2: In its solid form, soap doesn't contain any water – and bacteria need
    water to grow. Make sure you keep your soap dry between uses by placing it on
    a self-draining soap holder.
- numero: N°2
  paragraphe_1: Did you know that you can use dry, leftover soap slivers to perfume
    your drawers and linen cupboards?
  paragraphe_2:
section_conseils_background_color: amande-savon
titre_category_produit: Cold-processed body soap
section_gamme:
  titre: Cold-processed body soap
  paragraphe1: Cold processing is a traditional, centuries-old soapmaking method that
    involves a chemical reaction between botanical oils and a lye base. Soaps that
    are made using this method are gentle and hydrating, and can be used on all skin
    types, even sensitive.
  paragraphe2: By using the cold-processing method, we need very little energy to
    create our soaps, which are extra rich and good for the skin.
  paragraphe3: We created a blend of botanical oils, using <strong>organic sunflower
    oil</strong> for its softening properties, <strong> organic coconut oil</strong>
    for its repairing benefits, and soothing <strong>organic rapeseed oil</strong>.
    Then we combined this blend with <strong>organic shea butter</strong>, which nourishes
    and soothes, and added some gorgeous scents&#58; <strong>almond, lavender, vanilla
    and mint</strong>. The result is a range of soaps that will make you love taking
    a shower!
  paragraphe4:
  paragraphe5:
  titre_garantie:
  description_garantie:
  usage_garantie:
  produits:
  - color: amande-savon-light
    background_url: SAVON_AMANDE.png
  - color: lavande-savon-light
    background_url: SAVON_LAVANDE.png
  - color: menthe-savon-light
    background_url: SAVON_MENTHE.png
  - color: vanille-savon-light
    background_url: SAVON_VANILLE.png
section_porte_solide:
- titre: Holder for solid products
  paragraphe1: If you want your solid cosmetics to last for as long as possible, make
    sure you keep them on a soap holder between uses. Our holder for solid products
    is made in France from biosourced materials and available in blue or white!
  paragraphe2: We've designed it to evoke the shape of waves, so that when you take
    your shower, you'll remember that you're helping to protect the oceans by using
    solid products!
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: background
  background:
    url: PORTE-SOLIDE.jpg
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  {% include gamme_swiper.html gamme=page.section_gamme %}

  {% include gamme.html gamme=page.section_porte_solide %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
