---
title: Deodorants
description: null
lang: en
ref: deodorants
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Tips & advice
  sous_titre:
  contenu: Make sure your skin is clean, then rub the deodorant on your underarms. With its smooth texture, it's easy and comfortable to apply. Make sure you apply a fine layer of product over the entire underarm area, and not just in the middle!!
section_conseils:
- numero: N°1
  paragraphe_1: Did you know that when it's hot, sweat can also appear on the back of your neck, behind your ears, on the temples and on the forehead?
  paragraphe_2: You can apply our natural solid deodorant in these areas too!
- numero: N°2
  paragraphe_1: Did you know that after shaving or epilating, there may be tiny cuts on your skin that are invisible to the naked eye?
  paragraphe_2: So make sure you wait a little before applying deodorant.
- numero: N°3
  paragraphe_1: Do you know what a deodorant is?
  paragraphe_2: A deodorant like ours does not inhibit the natural perspiration process, but combats the bacteria responsible for body odour.
- numero: N°4
  paragraphe_1: Do you know what an antiperspirant is?
  paragraphe_2: An antiperspirant blocks the flow of sweat from your sweat glands and tightens pores by using controversial ingredients such as aluminium salts.
section_conseils_background_color: jaune-deodorant
titre_category_produit: Our solid deodorants
section_gamme:
- titre: «&#8239;Journée de surf&#8239;» and «&#8239;Matin à la plage&#8239;» deodorants for normal skin
  paragraphe1: Formulated with sodium bicarbonate, our deodorants for normal skin contain organic coconut oil and organic corn starch, which work to limit the growth of bacteria, absorb moisture, regulate pH levels and neutralize unpleasant odours.
  paragraphe2: The formula also contains <strong>organic shea butter</strong> and <strong>organic sunflower seed oil</strong>, which give it a smooth texture that's easy to apply and leaves your underarms hydrated but not greasy.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: It cares for your skin every day!
  allergenes:
  color: gris-deodorant
  background:
    url: DEO_PEAUX_NORMALES.png
- titre: «&#8239;Douceur des vagues&#8239;» deodorant for sensitive skin
  paragraphe1: Our deodorant is formulated with just 15% sodium bicarbonate, so it's ultra gentle and can be used on sensitive skin. It contains organic coconut oil for its antibacterial properties, as well as talc and organic corn starch to absorb moisture and prevent odour.
  paragraphe2: <strong>Organic shea butter</strong> and <strong>organic sunflower seed oil</strong> give the formula a smooth texture that's easy to apply and leaves your underarms hydrated, without leaving a greasy film.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: It cares for your skin every day!
  allergenes:
  color: gris-deodorant
  background:
    url: DEO_JAUNE.png
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
