---
title: Face cleansers
description: null
lang: en
ref: face-cleansers
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Tips & advice
  sous_titre:
  contenu: Once a week, you can use our exfoliating solid facial cleanser. Simply
    massage it over damp skin, then rinse off! Every day, use the solid facial cleanser
    suited to your skin type. Moisten it with water, rub it between your hands to
    produce a lather, massage the lather over your face, then rinse off!
section_conseils:
- numero: N°1
  paragraphe_1: Did you know that exfoliating your face helps to renew your skin?
  paragraphe_2: Exfoliating removes dead cells and stimulates cell renewal. Facial
    scrubs help to purify the skin and refine its texture, while brightening the complexion.
- numero: N°2
  paragraphe_1: When you exfoliate your face, make sure you do it gently. Use light,
    circular movements, don't press too hard, and always avoid the eye area.
  paragraphe_2:
- numero: N°3
  paragraphe_1: Did you know that cleansing is an essential step for beautiful skin?
  paragraphe_2: It's recommended that you cleanse your face morning and evening to
    remove dirt, dust, sweat, impurities, make-up and pollution.
- numero: N°4
  paragraphe_1: Did you know that when you massage the muscles of your face as you
    cleanse it, you're helping to oxygenate your skin?
  paragraphe_2: To remove more toxins, you could gently rub your solid facial cleanser
    over the lymph nodes below your ears.
section_conseils_background_color: violet-nettoyant
titre_category_produit: Facial cleansers
section_gamme:
- titre: EXFOLIATING FACIAL CLEANSER FOR ALL SKIN TYPES
  paragraphe1: Organic apricot kernel granules exfoliate the skin and help to eliminate
    impurities. Organic sweet almond oil hydrates and softens, so your skin feels
    beautifully smooth afterwards.
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: vanille-nettoyant-light
  background:
    url: NETT-EXFOLIANT.png
- titre: FACIAL CLEANSER FOR DRY &amp; SENSITIVE SKIN
  paragraphe1: Organic avocado oil nourishes and helps to improve suppleness, while
    pink clay works to soothe the skin and give radiance. Together, they form a beautiful
    duo for dry and sensitive skin!
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: rose-nettoyant-light
  background:
    url:
- titre: FACIAL CLEANSER FOR NORMAL SKIN
  paragraphe1: Organic macerated carrot oil and organic apricot kernel oil deliver
    antioxidant and skin-softening benefits, while also helping to boost radiance.
    Perfect for giving normal skin a healthy glow!
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: abricot-nettoyant-light
  background:
    url:
- titre: FACIAL CLEANSER FOR COMBINATION &amp; OILY SKIN
  paragraphe1: Deep-cleansing rhassoul clay is combined with purifying and nourishing
    organic nigella oil in this cleanser, which works to restore balance and regenerate
    the skin.
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: bambou-nettoyant-light
  background:
    url:
- titre: Holder for solid products
  paragraphe1: If you want your solid cosmetics to last for as long as possible, make
    sure you keep them on a soap holder between uses. Our holder for solid products
    is made in France from biosourced materials and available in blue or white!
  paragraphe2: We've designed it to evoke the shape of waves, so that when you take
    your shower, you'll remember that you're helping to protect the oceans by using
    solid products!
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: background
  background:
    url: PORTE-SOLIDE 2021.png
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
