---
title: Our conditioners and masks
description: null
lang: en
ref: hair-care
image: null
layout: default
section_conseils:
- numero: N°1
  paragraphe_1: Did you know that eating well and drinking lots of water is one of
    the best ways to care for your hair? The beauty of your hair is linked to the
    health of your body!
  paragraphe_2: 
- numero: N°2
  paragraphe_1: Did you know that essential oils have lots of benefits for your hair?
  paragraphe_2: Clary sage essential oil promotes hair growth, ylang-ylang essential
    oil helps to repair hair damaged by colour treatments, juniper essential oil combats
    dandruff, etc.
- numero: N°3
  paragraphe_1: Did you know that getting your hair cut is good for it?
  paragraphe_2: A quick trim will get rid of dry and split ends, so your hair looks
    better and feels lighter.
- numero: N°4
  paragraphe_1: What's the difference between a conditioner and a mask?
  paragraphe_2: A conditioner doesn't always need to be left on the hair, and has
    a smoothing and detangling effect. A mask, on the other hand, must be left on
    the hair as it contains richer ingredients for a deep conditioning treatment.
section_conseils_background_color: brand-color
titre_category_produit: Our solid hair cair products
titre_category_produit1: Our solid conditioner
section_protocole1:
  background_color: agrumes
  titre: Tips & advice
  sous_titre: 
  contenu: Our conditioner doesn't need to be left on! After washing and rinsing your
    hair, work the conditioner through lengths and ends, and massage it into your
    hair. Then all you have to do is rinse it off!
section_gamme1:
- titre: DETANGLING SOLID CONDITIONER
  paragraphe1: After washing your hair, we always recommend applying conditioner –
    especially if your hair is dry or brittle. And what better than a detangling conditioner
    that’s solid, certified organic, and delivers the same results as a regular conditioner?
    This conditioner leaves your hair soft, nourished and detangled, so it’s more
    resilient, while the <strong>tiaré flower scent</strong> transports you to exotic
    lands!
  paragraphe2: Made with 100% naturally derived ingredients and <strong>organic shea
    butter</strong>, this conditioner deeply nourishes and detangles your hair, and
    gives you another good reason to keep plastic bottles out of the bathroom!
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  allergenes: Avoid contact with the eyes. Do not ingest. Do not use if you are allergic
    to any of the ingredients. Keep out of the reach of children. Does not contain
    essential oils. Can be used by anyone from age 12 upwards.
  color: agrumes-light
  background:
    url: AS-TGE.png
titre_category_produit2: Our solid hair mask
section_protocole2:
  background_color: tiare
  titre: Tips & advice
  sous_titre: 
  contenu: This mask deeply nourishes the hair and must be left on. After shampooing,
    apply the mask to damp hair, working it through lengths and/or ends, and paying
    particular attention to damaged hair. Massage it into your hair, leave on for
    5 minutes, then rinse off!
section_gamme2:
- titre: Solid hair mask
  paragraphe1: 'Our hair mask is made with the following ingredients: organic sunflower
    oil, organic carnauba wax, organic shea butter, organic argan oil, organic jojoba
    oil, fragrance, a natural antioxidant, and a pigment to give it its beautiful,
    lagoon blue colour!'
  paragraphe2: Our solid mask works to nourish and restructure the hair, and can be
    used on all hair types. It protects hair against environmental aggressors, strengthens
    ends, conditions dry hair, and leaves your locks soft and shiny, without weighing
    it down.
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: You only need a small amount for big results!
  allergenes: 
  color: tiare-light
  background:
    url: MASQUE-CAPILLAIRE 2021.png
- titre: Holder for solid products
  paragraphe1: If you want your solid cosmetics to last for as long as possible, make
    sure you keep them on a soap holder between uses. Our holder for solid products
    is made in France from biosourced materials and available in blue or white!
  paragraphe2: We've designed it to evoke the shape of waves, so that when you take
    your shower, you'll remember that you're helping to protect the oceans by using
    solid products!
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: 
  allergenes: 
  color: background
  background:
    url: PORTE-SOLIDE 2021.png
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit1 | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole1 %}

  {% include gamme.html gamme=page.section_gamme1 %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit2 | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole2 %}

  <div id="masque-capilaire-solide">
  {% include gamme.html gamme=page.section_gamme2 %}
  </div>

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
