---
title: Cleansing rounds
description: null
lang: en
ref: make-up-removal-discs
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Tips & advice
  sous_titre:
  contenu: Simply moisten our microfibre cleansing rounds with hot or cold water, then use them to gently cleanse your face and eyes. Unless you're wearing waterproof make-up, there's no need to add make-up remover, as water alone will do the job! After use, slip them into the washing bag made from recycled plastic, then machine-wash with the rest of your laundry. That's all there is to it!
section_conseils:
- numero: N°1
  paragraphe_1: Did you know that when you use our cleansing rounds, you don't need to use make-up remover anymore?
  paragraphe_2: Save money!
- numero: N°2
  paragraphe_1: Did you know that our cleansing rounds are an easy way to help you go zero waste?
  paragraphe_2:
- numero: N°3
  paragraphe_1: Is your make-up waterproof or stubborn?
  paragraphe_2: In that case, you can add a drop of make-up remover to finish off. Rinse the cleansing round just after using it, so that your make-up remover won't reduce its lifespan.
section_conseils_background_color: rose-disques
titre_category_produit: Our cleansing rounds
section_gamme:
- titre: Cleansing rounds
  paragraphe1: Every day, bathroom bins are filled with disposable cotton cleansing pads – and yet this waste could easily be avoided! By switching to our washable, reusable cleansing rounds, you'll never throw a cotton pad away again!
  paragraphe2: Our cleansing rounds are extra soft as they're 100% woven from polyester microfibre. They can be used on all skin types – even the most sensitive.
  paragraphe3: 'The set of 10 cleansing rounds comes with a washing bag. Simply place them in the bag, place the bag in your washing machine, then wash them on your usual cycle.'
  paragraphe4: Each cleansing round can be reused over 300 times. Over the years, they'll save you dozens of bottles of make-up remover and thousands of disposable cotton pads!
  paragraphe5:
  benefices:
  allergenes:
  color: rose-disques-light
  background:
    url: DISQUES_DEMAQUILLANTS.png
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
