---
title: Oriculis
description: null
lang: en
ref: oriculis
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Tips & advice
  sous_titre:
  contenu: You can use our Oriculi to clean the ear canal. Simply hold it in your hand like a pencil, using the spherical finger rest to help you grip it well. Place it just inside your ear, then move it very gently around the outside of the ear canal, scraping outwards to remove any excess earwax. After use, clean your Oriculi with soap and warm water.
    et au savon.
section_conseils:
- numero: N°1
  paragraphe_1: Did you know that cotton buds (also known as Q-tips and cotton swabs) are one of the top ten items of waste most frequently found on our beaches?
  paragraphe_2: At the top of that list are cigarette ends...
- numero: N°2
  paragraphe_1: Did you know that ENT specialists say that you only need to clean your ears once a week?
  paragraphe_2:
- numero: N°3
  paragraphe_1: Did you know that ENT specialists do not recommend using cotton buds/swabs?
  paragraphe_2: They actually push earwax further into the ear, which can lead to clogged ears and irritation of the ear canal. They can even leave tiny fragments of cotton behind, which can cause other problems! It's time to stop using them!
- numero: N°4
  paragraphe_1: Did you know that our Oriculi is based on an ingenious little instrument that was invented in Asia?
  paragraphe_2: It's been used there for generations.
- numero: N°5
  paragraphe_1: Make sure you're in a calm, relaxed atmosphere whenever you clean your ears. An Oriculi can be used to clean children's ears, but this must be done carefully by an adult, so there's no risk of damaging the eardrum.
  paragraphe_2:
section_conseils_background_color: jaune-oriculis
titre_category_produit: Our Oriculis
section_gamme:
  titre: Oriculi
  paragraphe1: We came up with this cute little name for our eco-friendly ear cleaner, and registered it! An Oriculi is ever so easy to use – and it can be used on all the family. This washable, reusable ear cleaner should last a lifetime, so you'll never need to use cotton buds/swabs ever again!
  paragraphe2: The Oriculi removes any build-up of earwax in the outer ear, but it doesn't push it inside, so there's no risk of clogged ears with our eco-friendly ear cleaner!
  paragraphe3: Our Oriculi is made from <strong>100% biosourced bioplastic that's derived from castor oil.</strong> It is made in France!
  paragraphe4:
  paragraphe5:
  titre_garantie: Guarantee conditions
  description_garantie: Our Oriculi is designed to last a lifetime, which is why it comes with a lifetime guarantee! The sustainability and recyclability of this product are incredibly important to us. That's why we promise to replace it without charge, should it break for some reason. You don't even need to give us proof of purchase!
  usage_garantie: Simply post us your broken Oriculi, not forgetting to give us your contact details, and we'll send you back a new one in the same colour.
  produits:
  - color: jaune-oriculis-light
    background_url: ORICULI_JAUNE.png
  - color: rouge-oriculis-light
    background_url: ORICULI_ROUGE.png
  - color: vert-oriculis-light
    background_url: ORICULI_VERT.png
  - color: violet-oriculis-light
    background_url: ORICULI_VIOLET.png
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  {% include gamme_swiper.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
