---
title: Our solid shampoos
description: null
lang: en
ref: solid-shampoos
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Tips & advice
  sous_titre: 'How to use our solid shampoos:'
  contenu: Wet your hair, then your shampoo, then rub it over your scalp to produce a wonderfully light, creamy lather. Then all you have to do is rinse it off! Remember to keep your solid shampoo on a soap holder so that it lasts for as long as possible! Avoid contact with the eyes.
section_conseils:
- numero: N°1
  paragraphe_1: Did you know that you'll need a little patience and a few washes to remove the fine film of silicone on your hair that less natural products have left on it?
  paragraphe_2: Once this silicone has gone, you'll get your natural shine back!
    naturelle&#8239;!
- numero: N°2
  paragraphe_1: Did you know that you don't have to rub your shampoo over the lengths and ends of your hair?
  paragraphe_2: It's the roots of your hair that you have to wash, by massaging the scalp!
- numero: N°3
  paragraphe_1: Did you know that by rinsing your hair with cold water, you can give it a boost?
  paragraphe_2: This will stimulate blood flow, close hair scales, and add shine!
- numero: N°4
  paragraphe_1: Did you know that if you detangle your hair before washing it, it will be even softer afterwards?
  paragraphe_2:
- numero: N°5
  paragraphe_1: To make it easier to manage your hair after washing, apply your solid shampoo as if you were brushing your hair, rather than using circular movements, which can cause tangles.
  paragraphe_2:
- numero: N°6
  paragraphe_1: To lather up your shampoo, you could also rub the shampoo bar between your hands then massage it into your hair just as you would a liquid shampoo.
  paragraphe_2:
section_conseils_background_color: bleu
titre_category_produit: Our solid shampoos
section_gamme:
- titre: Shampoo for normal hair
  paragraphe1: Let us tell you about the brilliant natural ingredients in our solid shampoo for normal hair! There's argan oil, sweet almond oil, sunflower oil, foaming agents, clay, fragrance, an antioxidant, and a pigment to give it its gorgeous green colour!
  paragraphe2: The amazing <strong>organic sweet almond</strong> and <strong>organic argan</strong> oils used in our shampoo work to hydrate, soften and strengthen the hair.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: For hair that feels stronger, revitalized and really healthy!
  allergenes: Contains essential oils. Not suitable for pregnant women.
  color: amande-light
  background:
    url: SHAMP-NORM 2021.png
- titre: Shampoing détox
  paragraphe1: Let us tell you about the brilliant natural ingredients in our detox solid shampoo! There's field mint essential oil, sunflower oil, fatty acids, foaming agents, clay, laurel berry oil, menthol, fragrance, an antioxidant, and a pigment to give it its beautiful blue colour!
  paragraphe2: Our ultra-refreshing shampoo with <strong>organic laurel berry oil</strong> and <strong>organic mint essential oil</strong> was formulated to deeply cleanse and purify. Your hair and scalp will feel purified and incredibly fresh! This shampoo is ideal if you want to switch from conventional products to organic ones!
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Mint is mighty strong! Avoid contact with the eyes.
  allergenes: Contains essential oils. Not suitable for pregnant women.
  color: menthe-light
  background:
    url: SHAMP-DETOX 2021.png
- titre: Family shampoo
  paragraphe1: Let us tell you about the brilliant natural ingredients in our solid shampoo for the entire family! There's castor oil, apricot oil, sunflower oil, fatty acids, foaming agents, clay, fragrance, and an antioxidant. This gentle formula is <strong>perfect</strong> for all the family! Free of allergens and <strong>suitable for pregnant women</strong>, it washes your hair ever so gently and leaves behind a subtle scent.
  paragraphe2: <strong>Organic apricot oil and castor oil</strong> deliver replenishing fatty acids and minerals.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Every member of the family can enjoy strong, shiny hair!
  allergenes: Avoid contact with the eyes.
  color: fruits-exotiques-light
  background:
    url: SHAMP-FAM 2021.png
- titre: Shampoo for dry hair
  paragraphe1: Let us tell you about the brilliant natural ingredients in our solid shampoo for dry hair! There's shea butter, sunflower oil, fatty acids, foaming agents, clay, fragrance, an antioxidant, and a pigment to give it its sunny yellow colour!
  paragraphe2: <strong>Organic shea butter</strong> is a naturally rich ingredient, which was chosen to soften and protect the hair fibre. It's combined with <strong>sunflower oil</strong> to deeply nourish your hair and leave it supple.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Restore softness, suppleness and shine!
  allergenes: Contains essential oils. Not suitable for pregnant women.
  color: vanille-light
  background:
    url: SHAMP-SEC 2021.png
- titre: Shampoo for oily hair
  paragraphe1: Let us tell you about the brilliant natural ingredients in our solid shampoo for oily hair! There's jojoba oil, grapefruit essential oil, sunflower oil, fatty acids, foaming agents, clay, fragrance, an antioxidant, and a pigment to give it its pretty pink colour!
  paragraphe2: 'Our formula brings together two excellent ingredients that are known for their sebum-regulating properties: <strong>organic jojoba oil</strong> and <strong>grapefruit essential oil</strong>. This combination works to purify roots and care for the lengths of your hair, so it feels fresh and light.'
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Now your hair won't get oily again so quickly!
  allergenes: Contains essential oils. Not suitable for pregnant women.
  color: pamplemousse-light
  background:
    url: SHAMP-GRAS 2021.png
- titre: Shampoo for sensitive scalps
  paragraphe1: Let us tell you about the brilliant natural ingredients in our solid shampoo for sensitive scalps! There's marshmallow powder, calendula macerated oil, lavandin essential oil, sunflower oil, fatty acids, foaming agents, clay, an antioxidant, fragrance, and a pigment to give it its lovely violet colour!
  paragraphe2: <strong>Organic lavandin essential oil</strong> has relaxing and calming benefits, as well as a beautiful scent, so when you wash your hair, you'll feel wonderfully relaxed! <strong>Organic calendula</strong>, meanwhile, helps to relieve irritation and itching.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Soothe and calm your scalp!
  allergenes: Contains essential oils. Not suitable for pregnant women.
  color: lavande-light
  background:
    url: SHAMP-SENS 2021.png
- titre: Shampoo for blonde hair
  paragraphe1: Let us tell you about the brilliant ingredients in our solid shampoo for blonde hair! There's organic sunflower oil, camomile macerated oil, a gentle foaming agent, clay, cinnamon bark, fragrance, and an antioxidant.
  paragraphe2: "<strong>Camomile</strong> is used in this shampoo to boost blonde tones and give a beautiful golden hue to natural blonde hair or blonde highlights. Our formula also includes an extra-special ingredient: <strong>cinnamon bark</strong>! Gentle on the hair, this ingredient is able to lighten hair colour, strengthen the hair shaft, and help prevent hair loss!"
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: For beautifully lustrous blonde hair!
  allergenes:
  color: camomille-light
  background:
    url: SHAMP-BLOND 2021.png
- titre: Shampoo for colour-treated hair
  paragraphe1: Let us tell you about the brilliant ingredients in our solid shampoo for colour-treated hair! There's organic sunflower oil, cherry kernel oil, organic olive oil, a gentle foaming agent, clay, wheat protein, fragrance, and an antioxidant.
  paragraphe2: <strong>Cherry kernel oil</strong> is a gentle, hydrating oil that is ideal for protecting colour-treated hair against dryness. It helps to repair the hair, softening then smoothing the hair scales. <strong>Wheat proteins</strong> reinforce the structure of the hair, to leave it soft and shiny.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: For coloured hair that's stronger and full of vitality!
  allergenes:
  color: ylang-light
  background:
    url: SHAMP-COL 2021.png
- titre: 2-in-1 solid hair &amp; body wash
  paragraphe1: This clever 2-in-1 formula is made with organic sunflower oil, organic olive oil, organic hazelnut oil, foaming agents, clay, fragrance, and a natural antioxidant.
  paragraphe2: All the oils it contains hydrate the skin, improve suppleness, and help to protect skin from drying. You can use this product on the face, body and hair! Formulated with a relatively low pH, it helps to maintain the skin's protective barrier function.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes: Avoid contact with the eyes.
  color: oranger-light
  background:
    url: 2en1-2021.png
- titre: Holder for solid products
  paragraphe1: If you want your solid cosmetics to last for as long as possible, make sure you keep them on a soap holder between uses. Our holder for solid products is made in France from biosourced materials and available in blue or white!
  paragraphe3: We've designed it to evoke the shape of waves, so that when you take your shower, you'll remember that you're helping to protect the oceans by using solid products!
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: background
  background:
    url: PORTE-SOLIDE 2021.png
section_ingredients:
  titre: Discover our <br>natural and vegan <br>ingredients
  href: "/en/ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
