---
title: Dentifrices à croquer
description: test
lang: fr
ref: dentifrices
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Protocole et conseils
  sous_titre: 
  contenu: |-
    Croquez et mâchez une pastille. Humidifiez votre brosse à dents et brossez-vous les dents.

    Rincez, souriez et recommencez !
section_conseils:
- numero: N°1
  paragraphe_1: 'Savez-vous que la majorité des dentifrices contiennent du dioxyde
    de titane et du triclosan ? Le premier est un colorant aux effets cancérigènes,
    le second un antibactérien perturbateur endocrinien. <strong>Heureusement, les
    nôtres n’en ont pas : ))</strong>'
- numero: N°2
  paragraphe_1: |-
    Connaissez-vous les recommandations de l’UFSBD* pour une bonne santé bucco-dentaire ? 2 brossages par jour, matin et soir, pendant 2 minutes et 1 visite chez le dentiste au moins une fois par an.<br />
    *Union Française pour la Santé Bucco-Dentaire.
- numero: N°3
  paragraphe_1: Savez-vous qu’il existe le programme de prévention M’T dents ? Ce
    programme de l'Assurance Maladie offre un rendez-vous chez le dentiste aux enfants
    et aux jeunes jusqu'à l'âge de 24 ans. L'Assurance Maladie offre également un
    rendez-vous aux femmes enceintes.
- numero: N°4
  paragraphe_1: Saviez-vous que manger une pomme permet de nettoyer vos dents sans
    y déposer de sucre ? Astuce qui peut s’avérer utile quand on n’a pas sa brosse
    à dents le midi après le repas.
section_conseils_background_color: bambou-nettoyant
titre_category_produit: Nos dentifrices à croquer
section_gamme:
- titre: |-
    Notre dernière nouveauté : un dentifrice zéro-déchet à croquer !<br />
    Croquez une pastille pour des dents impeccables !
  paragraphe1: Parfait pour utiliser à la maison, ce dentifrice est aussi très simple
    à emporter partout avec soi. Le bicarbonate de sodium et la silice qu’il contient
    ont des propriétés abrasives et blanchissantes pour nettoyer délicatement vos
    dents.
  paragraphe2: 'Notre boîte en carton contient 120 pastilles : 1 pastille = 1 brossage
    de dents !'
  paragraphe3: 'Nos dentifrices sont certifiés COSMOS Natural. Cela signifie qu’ils
    contiennent plus de 95% d’ingrédients d’origine naturelle. Ils ne contiennent
    pas de fluor, et sont disponibles en 2 goûts : menthe ou citron !'
  paragraphe4: Leur boîte est en carton et leur couvercle biosourcé, cet emballage
    est donc biodégradable par compostage. Encore un pas vers le zéro déchet, tout
    simplement !
  paragraphe5: 
  benefices: 
  allergenes: Nos produits ne contiennent pas d’huile essentielle et peuvent être
    utilisés par tous à partir de 6 ans.
  color: bambou-nettoyant-light
  background:
    url: DENTIFRICE-MENTHEE.png
- titre: DENTIFRICE À CROQUER À LA FRAISE
  paragraphe1: |-
    Souriez à notre dentifrice à croquer ludique, pratique et écologique pour une haleine fraîche !
    Au goût fruité et sucré de fraise et sans fluor, il convient aux enfants de 8 ans et plus.
  paragraphe2: "Il contient du bicarbonate de sodium et de la silice pour leurs propriétés
    abrasives et blanchissantes qui nettoient délicatement les dents. Certifié bio
    COSMOS Natural, plus de 95% de ses ingrédients sont d’origine naturelle. \nParfait
    à utiliser au quotidien à la maison mais aussi très simple à emporter partout,
    une boîte de dentifrice à croquer contient 120 pastilles, ce qui équivaut à 2
    mois d’utilisation pour un brossage de dents matin et soir !"
  paragraphe3: ''
  paragraphe4: ''
  paragraphe5: ''
  benefices: CONVIENT AUX ENFANTS DÈS 8 ANS
  allergenes: Ne pas ingérer ni utiliser en cas d’allergie à l’un des composants.
    Tenir hors de portée des enfants.
  color: rose-nettoyant-light
  background:
    url: DENTIFRICE-FRAISE.png
section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: "/les-ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
