---
title: Déodorants
description: null
lang: fr
ref: deodorants
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Protocole et conseils
  sous_titre:
  contenu: Sur une peau propre et saine, déposez du déodorant sur chaque aisselle.
    Sa formule fondante permet une application confortable. Pensez à mettre une fine
    couche de produit sur toute l’aisselle et pas seulement au milieu&#8239;!
section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous que par temps chaud, la transpiration apparaît aussi sur
    la nuque et derrière les oreilles, les tempes, le front&#8239;?
  paragraphe_2: Vous pouvez appliquer notre déodorant solide naturel sur ces zones
    pour éviter cela&#8239;!
- numero: N°2
  paragraphe_1: Savez-vous qu’après une épilation ou un rasage, la peau présente des
    micro-coupures invisibles à l’œil nu&#8239;?
  paragraphe_2: Attendez un peu avant de réappliquer du déodorant.
- numero: N°3
  paragraphe_1: Savez-vous ce qu’est un déodorant&#8239;?
  paragraphe_2: Un déodorant tel que le nôtre ne bloque pas le processus naturel de
    transpiration, il réduit les bactéries responsables des odeurs.
- numero: N°4
  paragraphe_1: Savez-vous ce qu’est un anti-transpirant&#8239;?
  paragraphe_2: Un anti-transpirant bloque le flux de transpiration et resserre les
    pores avec des ingrédients controversés comme les sels d’aluminium.
section_conseils_background_color: jaune-deodorant
titre_category_produit: Nos déodorants solides
section_gamme:
- titre: Déodorant peaux normales «&#8239;Journée de surf&#8239;» et «&#8239;Matin
    à la plage&#8239;»
  paragraphe1: Formulés avec du bicarbonate de soude, nos déodorants pour peaux normales
    sont composés d’huile de coco bio et d’amidon de maïs bio, qui limitent le développement
    des bactéries, absorbent l’humidité, régulent le pH et neutralisent les mauvaises
    odeurs.
  paragraphe2: Grâce au <strong>beurre de karité bio</strong> et à <strong>l’huile
    de graine de tournesol bio</strong>, notre formule est fondante et vos aisselles
    sont hydratées à chaque application, sans laisser la peau grasse.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Vous profitez d’un soin quotidien&#8239;!
  allergenes:
  color: gris-deodorant
  background:
    url: DEO_PEAUX_NORMALES.png
- titre: Déodorant peaux sensibles «&#8239;Douceur des vagues&#8239;»
  paragraphe1: Notre déodorant est formulé avec seulement 15% de bicarbonate de soude
    pour être tout doux et convenir aux peaux sensibles&#8239;! Il contient de l’huile
    de coco bio pour ses propriétés anti-bactériennes, du talc et de l’amidon de maïs
    bio qui absorbent l’humidité et retiennent les odeurs.
  paragraphe2: Grâce au <strong>beurre de karité bio</strong> et à <strong>l’huile
    de graine de tournesol bio</strong>, notre formule est fondante et vos aisselles
    sont hydratées à chaque application, sans laisser la peau grasse.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Vous profitez d’un soin quotidien&#8239;!
  allergenes:
  color: gris-deodorant
  background:
    url: DEO_JAUNE.png
section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: "/les-ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
