---
title: Disques démaquillants
description: null
lang: fr
ref: make-up-removal-discs
image: assets/img/DISQUES_DEMAQU.png
layout: default
section_protocole:
  background_color: brand-color
  titre: Protocole et conseils
  sous_titre: 
  contenu: Imbibez nos disques en microfibre d’eau chaude ou froide, puis nettoyez
    doucement votre visage et vos yeux. Inutile d’ajouter un produit démaquillant,
    l’eau seule suffit sur un maquillage non waterproof&#8239;! Après utilisation
    glissez vos disques démaquillants dans leur filet de lavage en plastique recyclé
    puis mettez-les en machine avec le reste de votre linge. Tout simplement&#8239;!
section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous qu’en utilisant nos disques vous n’avez plus besoin de
    mettre de produit démaquillant&#8239;?
  paragraphe_2: Vive les économies&#8239;!
- numero: N°2
  paragraphe_1: Savez-vous qu’utiliser nos disques démaquillants est un pas facile
    vers le zéro déchet&#8239;?
  paragraphe_2: 
- numero: N°3
  paragraphe_1: Vous portez un maquillage waterproof et récalcitrant&#8239;?
  paragraphe_2: Dans ce cas vous pouvez ajouter une goutte de produit démaquillant
    pour terminer. Rincez alors la lingette juste après utilisation pour que le produit
    ne réduise pas sa durée de vie.
section_conseils_background_color: rose-disques
titre_category_produit: Nos disques démaquillants
section_gamme:
- titre: Disques démaquillants
  paragraphe1: ''
  paragraphe2: Les cotons démaquillants remplissent tous les jours les poubelles de
    notre salle de bain. Pour venir à bout de ces déchets nous vous proposons de passer
    à nos disques démaquillants lavables et réutilisables&#8239;!
  paragraphe3: Nos disques démaquillants sont extra doux car nous les avons tissés
    100% en microfibre de polyester&#8239;! Ils sont idéaux pour nettoyer toutes les
    peaux même les plus sensibles.
  paragraphe4: 'En lot de 10, avec un filet de lavage, ces disques démaquillants sont
    lavables en machine&#8239;: mettez-les dans le tambour et lavez-les avec votre
    programme habituel à 40°&#8239;! C’est tout simple&#8239;!'
  paragraphe5: Vous pouvez réutiliser nos disques plus de 300 fois chacun ce qui va
    vous permettre d’économiser des dizaines de flacons de démaquillant et des milliers
    de cotons jetables au fil des années&#8239;!
  benefices: 
  allergenes: 
  color: rose-disques-light
  background:
    url: DISQUES-DEMAQU.png
section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: "/les-ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
