---
title: Nettoyants visage
description:
lang: fr
ref: face-cleansers
image:
layout: default

section_protocole:
  background_color: brand-color
  titre: Protocole et conseils
  sous_titre:
  contenu: Une fois par semaine, sur peau humide, appliquez notre nettoyant exfoliant solide sur le visage, massez puis rincez&#8239;! Quotidiennement, avec le nettoyant qui convient à votre type de peau, mouillez et frottez notre nettoyant solide entre vos mains. Appliquez la mousse générée sur le visage puis rincez&#8239;!

section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous qu’exfolier son visage aide à faire peau neuve&#8239;?
  paragraphe_2: Cela permet d’éliminer les cellules mortes et stimuler les nouvelles. Les gommages affinent et purifient l’épiderme, tout en éclaircissant le teint.
- numero: N°2
  paragraphe_1: Lors de votre gommage du visage, n’ayez pas des gestes trop agressifs, réalisez de légers mouvements, pas trop appuyés, de façon circulaire et en évitant toujours le contour des yeux.
  paragraphe_2:
- numero: N°3
  paragraphe_1: Savez-vous que le nettoyage est une étape essentielle de toute belle peau&#8239;?
  paragraphe_2: Il est recommandé de faire un nettoyage matin et soir pour éliminer poussière, transpiration, maquillage et pollution.
- numero: N°4
  paragraphe_1: Savez-vous que le massage que vous offrez aux muscles de votre visage en le nettoyant oxygène votre peau&#8239;?
  paragraphe_2: Pour éliminer davantage de toxines, vous pouvez travailler lentement le nettoyant visage sur vos ganglions lymphatiques, situés sous vos oreilles
section_conseils_background_color: violet-nettoyant


titre_category_produit: Nettoyants visages


section_gamme:
- titre: NETTOYANT VISAGE EXFOLIANT TOUS TYPES DE PEAUX
  paragraphe1: 'Les grains d’abricot bio exfolient et aident à éliminer toutes les impuretés. L’amande douce bio permet d’hydrater et d’adoucir votre peau pour qu’elle soit toute lisse après le soin.'
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: vanille-nettoyant-light
  background:
    url: VISAGE_JAUNE.png
- titre: NETTOYANT VISAGE PEAUX SÈCHES ET SENSIBLES
  paragraphe1: 'L’huile d’avocat bio nourrit et apporte souplesse à la peau, quant à l’argile rose elle apaise et donne de l’éclat, une belle recette pour les peaux sèches et sensibles&#8239;!'
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: rose-nettoyant-light
  background:
    url: VISAGE_ROSE.png
- titre: NETTOYANT VISAGE PEAUX NORMALES
  paragraphe1: 'Le macérat huileux de carotte bio et l’huile de noyaux d’abricot bio de notre nettoyant sont antioxydants, assouplissants et donnent un teint éclatant. Une recette bonne mine pour les peaux normales&#8239;!'
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: abricot-nettoyant-light
  background:
    url: VISAGE_ABRICOT.png
- titre: NETTOYANT VISAGE PEAUX MIXTES à GRASSES
  paragraphe1: 'L’association du ghassoul, qui nettoie en profondeur, et de l’huile de nigelle bio purifiante et nourrissante, constitue une recette équilibrée et régénérante pour les peaux mixtes&#8239;!'
  paragraphe2:
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: bambou-nettoyant-light
  background:
    url: VISAGE_VERT.png


section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: /les-ingredients
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
