---
title: Nos oriculis
description: null
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Protocole et conseils
  sous_titre: 
  contenu: L’Oriculi permet de nettoyer le conduit auditif. Prenez le bâtonnet en
    main comme si vous teniez un crayon et positionnez vos doigts en butée contre
    la boule. Insérez l’Oriculi dans l’oreille puis, doucement, effectuez des mouvements
    de l’intérieur vers l’extérieur, puis sur les bords du conduit auditif pour retirer
    l’excédent de cérumen. Après utilisation, nettoyez votre Oriculi à l’eau tiède
    et au savon.
section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous que les bâtonnets ouatés font partie du top dix des déchets
    les plus fréquemment retrouvés sur les plages&#8239;?
  paragraphe_2: A la tête du classement se placent les mégots de cigarette.
- numero: N°2
  paragraphe_1: Savez-vous que les ORL s’accordent à dire que nettoyer ses oreilles
    1 fois par semaine est suffisant&#8239;?
  paragraphe_2: 
- numero: N°3
  paragraphe_1: Savez-vous que les ORL ne recommandent pas l’usage des bâtonnets ouatés&#8239;?
  paragraphe_2: Ils poussent le cérumen au fond de l’oreille, créent des bouchons,
    irritent le conduit auditif et peuvent laisser des particules de coton dans l’oreille&#8239;!
    Bannissez-les&#8239;!
- numero: N°4
  paragraphe_1: Savez-vous que cet ingénieux instrument a été inventé en Asie&#8239;?
  paragraphe_2: Il y est utilisé depuis des générations.
- numero: N°5
  paragraphe_1: Veillez à être au calme lorsque vous serez en train de vous nettoyer
    les oreilles. Si vous avez des enfants, l’Oriculi doit être manipulé par un adulte
    afin d’éviter toute blessure des tympans.
  paragraphe_2: 
section_conseils_background_color: jaune-oriculis
titre_category_produit: Nos oriculis
section_gamme:
  titre: Oriculi
  paragraphe1: Oriculi c’est un nom tout mignon que nous avons donné et déposé pour
    notre cure-oreilles écologique&#8239;! D’un geste simple, il nettoie les oreilles
    de toute la famille. L’Oriculi remplace les bâtonnets ouatés à vie car il est
    lavable et réutilisable à l’infini&#8239;!
  paragraphe2: L’Oriculi enlève l’excédent du cérumen dans l’oreille externe, il ne
    le pousse pas au fond. Pas de bouchon avec notre nettoyeur d’oreilles écologique&#8239;!
  paragraphe3: Notre Oriculi est en <strong>bioplastique. 100% biosourcé en huile
    de ricin</strong>, et fabriqué en France&#8239;!
  paragraphe4: 
  paragraphe5: 
  titre_garantie: Condition de garantie
  description_garantie: Puisque l’Oriculi remplace les bâtonnets ouatés à vie, The
    Green Emporium garantie son Oriculi à vie&#8239;!! Parce que nous nous engageons
    sur sa durabilité, et que nous souhaitons assurer la recyclabilité de notre Oriculi
    en bioplastique, nous nous engageons à vous le remplacer gratuitement en cas de
    casse et sans avoir besoin de nous présenter le ticket de caisse&#8239;!
  usage_garantie: Renvoyer-nous votre Oriculi par courrier et renseignez vos coordonnées
    au verso. Dès réception, nous procéderons à un échange standard, couleur pour
    couleur, et vous ferons parvenir le nouvel Oriculi à votre adresse.
  produits:
  - color: jaune-oriculis-light
    background_url: ORICULI_JAUNE.png
  - color: rouge-oriculis-light
    background_url: ORICULI_ROUGE.png
  - color: vert-oriculis-light
    background_url: ORICULI_VERT.png
  - color: violet-oriculis-light
    background_url: ORICULI_VIOLET.png
section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: "/les-ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include gamme_swiper.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>