---
title: Nos shampoings solides
description: null
image: null
layout: default
section_protocole:
  background_color: brand-color
  titre: Protocole et conseils
  sous_titre: 'Comment utiliser nos shampoings solides&#8239;:'
  contenu: Mouillez vos cheveux, puis le shampoing, avant de l’appliquer à même le
    cuir chevelu. Frottez, une jolie mousse légère et onctueuse va apparaître… Il
    n’y a plus qu’à rincer&#8239;!  Pensez bien à mettre le shampoing solide sur un
    porte-savon pour qu’il dure longtemps, longtemps&#8239;! Évitez le contact avec
    les yeux.
section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous qu’il faut s’armer d’un peu de patience et de quelques
    lavages afin de vous permettre d’enlever la pellicule de silicone contenue dans
    les produits non naturels ?
  paragraphe_2: Une fois le silicone éliminé, vous allez retrouver beaucoup de brillance
    naturelle&#8239;!
- numero: N°2
  paragraphe_1: Savez-vous qu’il n’est pas nécessaire de frotter vos longueurs et
    vos pointes ?
  paragraphe_2: C’est la racine qui doit être nettoyée en massant le cuir chevelu&#8239;!
- numero: N°3
  paragraphe_1: Savez-vous que rincer vos cheveux à l’eau froide donne un «&#8239;coup
    de fouet&#8239;» idéal ?
  paragraphe_2: Il stimule la circulation sanguine, referme les écailles du cheveu
    et ajoute de la brillance&#8239;!
- numero: N°4
  paragraphe_1: Savez-vous que se démêler les cheveux avant shampoing permet de les
    avoir plus doux après le lavage&#8239;!
  paragraphe_2: 
- numero: N°5
  paragraphe_1: Pour faciliter le coiffage après le lavage, appliquez le shampoing
    solide en effectuant un mouvement de brossage sur toute la chevelure, plutôt que
    des cercles qui emmêlent vos cheveux.
  paragraphe_2: 
- numero: N°6
  paragraphe_1: Pour faire mousser votre shampoing, vous pouvez également frotter
    le pain entre vos mains et masser vos cheveux comme avec un shampoing liquide.
  paragraphe_2: 
section_conseils_background_color: bleu
titre_category_produit: Nos shampoings solides
section_gamme:
- titre: Shampoing cheveux normaux
  paragraphe1: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide cheveux normaux&#8239;: de l’huile d’argan, de l’huile d’amande
    douce, de l’huile de tournesol, des agents moussants, de l’argile, du parfum,
    un antioxydant et un pigment pour lui donner sa jolie couleur verte&#8239;!'
  paragraphe2: Les géniales huiles d’<strong>amande douce bio</strong> et <strong>d’argan</strong>
    présentes dans notre shampoing sont hydratantes, assouplissantes et fortifiantes.
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: Vos cheveux seront revitalés et fortifiés, tout simplement en pleine
    santé&#8239;!
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: amande-light
  background:
    url: SHAMPOING_SOLIDE_AMANDE.png
- titre: Shampoing détox
  paragraphe1: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide détox&#8239;: de l’huile essentielle de menthe des champs, de
    l’huile de tournesol, des acides gras, des agents moussants, de l’argile, de l’huile
    de baie de laurier, du menthol, du parfum, un antioxydant et un pigment pour lui
    donner sa jolie couleur bleue&#8239;!'
  paragraphe2: Notre shampoing super rafraîchissant avec de <strong>l’huile de baie
    de laurier bio</strong> et de <strong>l’huile essentielle de menthe bio</strong>
    a été formulé pour nettoyer en profondeur et purifier. Vos cheveux et votre cuir
    chevelu seront assainis et frais&#8239;! C’est le shampoing parfait pour une transition
    du conventionnel au bio&#8239;!
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: La menthe, c'est fort..! Évitez le contact avec les yeux.
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: menthe-light
  background:
    url: SHAMPOING_SOLIDE_MENTHE.png
- titre: Shampoing familial
  paragraphe1: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide pour toute la famille&#8239;: de l’huile de ricin, de l’huile
    d’abricot, de l’huile de tournesol, des acides gras, des agents moussants, de
    l’argile, du parfum et un antioxydant. Véritable recette douceur, c’est <strong>LE</strong>
    shampoing qui convient à toute la famille&#8239;! Sans allergène et <strong>convenant
    aux femmes enceintes</strong>, il lave vos cheveux en délicatesse et les parfume
    subtilement.'
  paragraphe2: "<strong>L’huile d’abricot bio et huile de ricin</strong> vous font
    le plein d’acides gras et minéraux."
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: Tous les cheveux de la famille seront forts et brillants&#8239;!
  allergenes: Évitez le contact avec les yeux.
  color: fruits-exotiques-light
  background:
    url: SHAMPOING_SOLIDE_EXOTIQUES.png
- titre: Shampoing cheveux secs
  paragraphe1: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide cheveux secs&#8239;: du beurre de karité, de l’huile de tournesol,
    des acides gras, des agents moussants, de l’argile, du parfum, un antioxydant
    et un pigment pour lui donner sa jolie couleur jaune&#8239;!'
  paragraphe2: "<strong>Le beurre de karité bio</strong> est un ingrédient naturellement
    ultra riche, choisi pour adoucir et protéger la fibre capillaire. Associé à de
    <strong>l’huile de tournesol</strong>, vos cheveux seront nourris en profondeur
    et assouplis."
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: Ils retrouveront douceur, souplesse et brillante&#8239;!
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: vanille-light
  background:
    url: SHAMPOING_SOLIDE_VANILLE.png
- titre: Shampoing cheveux gras
  paragraphe1: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide cheveux gras&#8239;: de l’huile de jojoba, de l’huile essentielle
    de pamplemousse, de l’huile de tournesol, des acides gras, des agents moussants,
    de l’argile, du parfum, un antioxydant et un pigment pour lui donner sa jolie
    couleur rose&#8239;!'
  paragraphe2: 'Notre formule associe deux ingrédients au top, connus pour leurs vertus
    sébo-régulatrices&#8239;: <strong>l’huile végétale de jojoba bio</strong> et <strong>l’huile
    essentielle de pamplemousse</strong>&#8239;! Cette combinaison purifie vos racines,
    soigne vos longueurs et donne à vos cheveux fraîcheur et légèreté.'
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: Vos cheveux regraissent moins vite&#8239;!
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: pamplemousse-light
  background:
    url: SHAMPOING_SOLIDE_PAMPLEMOUSSE.png
- titre: Shampoing cuir chevelu sensible
  paragraphe1: 'On vous présente les supers ingrédients naturels qui composent notre
    shampoing solide pour cuirs chevelus sensibles&#8239;: de la poudre de guimauve,
    un macérat huileux de calendula, de l’huile essentielle de lavande, de l’huile
    de tournesol, des acides gras, des agents moussants, de l’argile, un antioxydant,
    du parfum et un pigment pour lui donner sa jolie couleur violette&#8239;!'
  paragraphe2: Les bienfaits calmants et relaxants de <strong>l’huile essentielle
    de lavandin bio</strong> ainsi que son odeur tellement agréable vont transformer
    votre shampoing en un chouette moment de détente. <strong>Le calendula bio</strong>
    qui y a été ajouté soulage les irritations et démangeaisons.
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: Les cuirs chevelus sensibles seront zen&#8239;!
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes.
  color: lavande-light
  background:
    url: SHAMPOING_SOLIDE_LAVANDE.png
- titre: Shampoing cheveux blonds
  paragraphe1: 'On vous présente les supers ingrédients qui composent notre shampoing
    solide pour cheveux blonds&#8239;: de l’huile de tournesol bio, un macérat huileux
    de camomille, un agent moussant doux, de l’argile, de l’écorce de cannelle, du
    parfum et un antioxydant.'
  paragraphe2: "<strong>La camomille</strong> est à l’origine de l’effet booster de
    blondeur qui donne de jolis reflets dorés à tous les blonds naturels ou méchés.
    L’ingrédient bonus de notre recette&#8239;: <strong>l’écorce de cannelle</strong>
    éclaircit sans agresser les cheveux et renforce l’écaille, réduisant leur fragilité
    et leur chute."
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: Les cheveux blonds brillent&#8239;!!
  allergenes: 
  color: camomille-light
  background:
    url: SHAMPOING_SOLIDE_CAMOMILLE.png
- titre: Shampoing cheveux colorés
  paragraphe1: 'On vous présente les supers ingrédients qui composent notre shampoing
    solide pour cheveux colorés&#8239;: de l’huile de tournesol bio, de l’huile de
    noyaux de cerise, de l’huile d’olive bio, un agent moussant doux, de l’argile,
    de la protéine de blé, du parfum et un antioxydant.'
  paragraphe2: "<strong>L’huile de noyaux de cerise</strong>, douce et hydratante,
    est adaptée pour protéger la déshydratation des cheveux colorés. Ses propriétés
    réparatrices assouplissent puis lissent les écailles de la fibre capillaire. <strong>Les
    protéines de blé</strong> quant à elles renforcent la structure des cheveux, les
    rendant doux et brillants."
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: Des cheveux colorés renforcés et plein de vie&#8239;!
  allergenes: 
  color: ylang-light
  background:
    url: SHAMPOING_SOLIDE_YLANG.png
- titre: Shampoing-douche 2-en-1 Solide
  paragraphe1: 'La recette de notre tout-en-un malin&#8239;: de l’huile de tournesol
    bio, de l’huile d’olive bio, de l’huile de noisette bio, des agents moussants,
    de l’argile, du parfum et un antioxydant naturel.'
  paragraphe2: Toutes les huiles de notre 2-en-1 préservent la peau du dessèchement,
    l’assouplissent et l’hydratent. Notre shampoing-douche peut être utilisé sur l’ensemble
    du corps et du visage. Formulé avec un PH légèrement bas il maintient la fonction
    barrière protectrice de la peau et est adapté au soin des cheveux.
  paragraphe3: 
  paragraphe4: 
  paragraphe5: 
  benefices: 
  allergenes: Éviter le contact avec les yeux.
  color: oranger-light
  background:
    url: 2EN1.png
- titre: Porte-Solide
  paragraphe1: Pour conserver vos cosmétiques solides le plus longtemps possible,
    il est nécessaire de les ranger après usage sur un porte-savon.
  paragraphe2: Notre porte-savon est biosourcé, fabriqué en France et disponible en
    bleu ou en blanc&#8239;!
  paragraphe3: Nous lui avons choisi une jolie forme de vague afin de vous rappeler,
    lors de chaque douche, que vous agissez pour la protection des océans en choisissant
    des cosmétiques solides, merci&#8239;!
  paragraphe4: 
  paragraphe5: 
  benefices: 
  allergenes: 
  color: background
  background:
    url: PORTE-SOLIDE.jpg
section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: "/les-ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  {% include protocole.html protocole=page.section_protocole %}

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include gamme.html gamme=page.section_gamme %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>