---
title: Soins capillaires
description: null
lang: fr
ref: hair-care
image: null
layout: default
section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous que bien manger et boire beaucoup d’eau est le premier
    geste de soin pour nos cheveux&#8239;? Leur beauté est liée à la santé de notre
    corps&#8239;!
  paragraphe_2:
- numero: N°2
  paragraphe_1: Savez-vous que les huiles essentielles peuvent se révéler très utiles
    pour prendre soin de vos cheveux&#8239;?
  paragraphe_2: Huile essentielle de sauge sclarée pour activer la pousse, huile essentielle
    de ylang-ylang pour les cheveux abîmés par les colorations, huile essentielle
    de genévrier contre les pellicules…
- numero: N°3
  paragraphe_1: Savez-vous qu’aller chez le coiffeur fait du bien à vos cheveux&#8239;?
  paragraphe_2: Un petit coup de ciseaux allège les cheveux de leurs pointes sèches
    et fourchues et embellit la chevelure.
- numero: N°4
  paragraphe_1: Quelle différence entre après-shampoing et masque&#8239;?
  paragraphe_2: L’après-shampoing n’a pas besoin de poser sur les cheveux, il a un
    effet lissant et démêlant. Le masque, à l’inverse, doit poser sur les cheveux,
    il des composants plus riches qui permettent une action en profondeur.
section_conseils_background_color: brand-color
titre_category_produit: Nos soins capillaires solides
titre_category_produit1: Notre après-shampoing solide
section_protocole1:
  background_color: agrumes
  titre: Protocole et conseils
  sous_titre:
  contenu: 'Notre après-shampoing ne nécessite pas de temps de pose&#8239;! Après
    le lavage, sur cheveux humides, appliquez notre après-shampoing sur les longueurs
    et pointes en effectuant des mouvements de coiffage. Massez pour le répartir et
    le faire pénétrer. Et voilà, il n’y a plus qu’à rincer&#8239;! Notre après shampoing
    ne mousse pas, c’est un soin cireux presque invisible à l’application. C’est comme
    ça qu’il est efficace : )'
section_gamme1:
- titre: Après-shampoing solide
  paragraphe1: 'Les ingrédients au top de notre après-shampoing sont&#8239;: de l’huile
    de tournesol, de l’huile de brocoli, de la cire de carnauba, de l’amidon de maïs,
    du parfum, un antioxydant naturel et un pigment pour lui donner sa jolie couleur
    orange&#8239;!'
  paragraphe2: "<strong>L’huile végétale de brocoli bio</strong> détend la fibre capillaire,
    la lisse. Le démêlage est facilité, les frisottis domptés, les boucles dessinées&#8239;!
    Et <strong>l’huile de coco bio</strong> donne une chevelure douce, saine et parfaitement
    hydratée."
  paragraphe3:
  paragraphe4:
  paragraphe5:
  allergenes: ''
  color: agrumes-light
  background:
    url: APRES-SHAMPOING 2021.png
titre_category_produit2: Notre masque capillaire solide
section_protocole2:
  background_color: tiare
  titre: Protocole et conseils
  sous_titre:
  contenu: Ce masque est un soin qui nourrit le cheveu en profondeur et nécessite
    un temps de pose. Après le lavage, sur cheveux encore humides, appliquez le masque
    en effectuant des mouvements de coiffage sur les longueurs et/ou pointes suivant
    les zones abîmées. Masser pour répartir et faire pénétrer. Laisser poser 5 minutes
    puis rincez&#8239;!
section_gamme2:
- titre: Masque capillaire solide
  paragraphe1: 'Les voici les voilà les ingrédients de notre masque&#8239;: de l’huile
    de tournesol bio, de la cire de carnauba bio, du beurre de karité bio, de l’huile
    d’argan bio, de l’huile de jojoba bio, du parfum, un antioxydant naturel et un
    pigment pour lui donner sa jolie couleur bleu lagon&#8239;!'
  paragraphe2: Notre masque nourrit et restructure tous types de cheveux. Il protège  des
    agressions extérieures, il renforce les pointes, les cheveux secs, et offre douceur
    et brillance sans alourdir les cheveux.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Avec notre masque, peu de produit déposé suffit pour beaucoup d’effet&#8239;!
  allergenes:
  color: tiare-light
  background:
    url: MASQUE-CAPILLAIRE 2021.png
- titre: Porte-Solide
  paragraphe1: Pour conserver vos cosmétiques solides le plus longtemps possible,
    il est nécessaire de les ranger après usage sur un porte-solide.
  paragraphe2: Notre porte-solide est biosourcé, fabriqué en France et disponible
    en bleu ou en blanc&#8239;!
  paragraphe3: Nous lui avons choisi une jolie forme de vague afin de vous rappeler,
    lors de chaque douche, que vous agissez pour la protection des océans en choisissant
    des cosmétiques solides, merci&#8239;!
  paragraphe4:
  paragraphe5:
  benefices:
  allergenes:
  color: background
  background:
    url: PORTE-SOLIDE 2021.png
section_ingredients:
  titre: Découvrez <br>nos ingrédients <br>vegan & naturels
  href: "/les-ingredients"
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  <h2 class="ta-center py-7">{{ page.titre_category_produit | textilize }}</h2>

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit1 | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole1 %}

  {% include gamme.html gamme=page.section_gamme1 %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit2 | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole2 %}

  <div id="masque-capilaire-solide">
  {% include gamme.html gamme=page.section_gamme2 %}
  </div>

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
