---
title: Nos soins capillaires
description:
image:
layout: default


section_conseils:
- numero: N°1
  paragraphe_1: Savez-vous que bien manger et boire beaucoup d’eau est le premier geste de soin pour nos cheveux ? Leur beauté est liée à la santé de notre corps !
  paragraphe_2:
- numero: N°2
  paragraphe_1: Savez-vous que les huiles essentielles peuvent se révéler très utiles pour prendre soin de vos cheveux ?
  paragraphe_2: Huile essentielle de sauge sclarée pour activer la pousse, huile essentielle de ylang-ylang pour les cheveux abîmés par les colorations, huile essentielle de genévrier contre les pellicules…
- numero: N°3
  paragraphe_1: Savez-vous qu’aller chez le coiffeur fait du bien à vos cheveux ?
  paragraphe_2: Un petit coup de ciseaux allège les cheveux de leurs pointes sèches et fourchues et embellit la chevelure.
- numero: N°4
  paragraphe_1: Quelle différence entre après-shampoing et masque ?
  paragraphe_2: L’après-shampoing n’a pas besoin de poser sur les cheveux, il a un effet lissant et démêlant. Le masque, à l’inverse, doit poser sur les cheveux, il des composants plus riches qui permettent une action en profondeur.
section_conseils_background_color: brand-color

titre_category_produit1: Notre après-shampoing solide


section_protocole1:
  background_color: agrumes
  titre: Protocole et conseils
  sous_titre:
  contenu: Notre après-shampoing ne nécessite pas de temps de pose ! Après le lavage, sur cheveux humides, appliquer notre après-shampoing sur les longueurs et pointes en effectuant des mouvements de coiffage. Masser pour le répartir et le faire pénétrer. Et voilà, il n’y a plus qu’à rincer !


section_gamme1:
- titre: Après-shampoing solide
  paragraphe1: 'Les ingrédients au top de notre après-shampoing sont : de l’huile de tournesol, de l’huile de brocoli, de la cire de carnauba, de l’amidon de maïs, du parfum, un antioxydant naturel et un pigment pour lui donner sa jolie couleur orange !'
  paragraphe2: <strong>L’huile végétale de brocoli</strong> détend la fibre capillaire, la lisse. Le démêlage est facilité, les frisottis domptés, les boucles dessinées ! Et <strong>l’huile de coco</strong> donne une chevelure douce, saine et parfaitement hydratée.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  allergenes: Contient des huiles essentielles, ne convient pas aux femmes enceintes
  color: agrumes-light
  background:
    url: AP_AGRUMES.png


titre_category_produit2: Notre masque capillaire solide


section_protocole2:
  background_color: tiare
  titre: Protocole et conseils
  sous_titre:
  contenu: Ce masque est un soin qui nourrit le cheveu en profondeur et nécessite un temps de pose. Après le lavage, sur cheveux encore humides, appliquez le masque en effectuant des mouvements de coiffage sur les longueurs et/ou pointes suivant les zones abîmées. Masser pour répartir et faire pénétrer. Laisser poser 5 minutes puis rincez !


section_gamme2:
- titre: Masque capillaire solide
  paragraphe1: 'Les voici les voilà les ingrédients de notre masque : de l’huile de tournesol bio,
  de la cire de carnauba bio, du beurre de karité bio, de l’huile d’argan bio,
  de l’huile de jojoba bio, du parfum, un antioxydant naturel et un pigment
  pour lui donner sa jolie couleur bleu lagon !'
  paragraphe2: Notre masque nourrit et restructure tous types de cheveux. Il protège  des agressions extérieures, il renforce les pointes, les cheveux secs, et offre douceur et brillance sans alourdir les cheveux.
  paragraphe3:
  paragraphe4:
  paragraphe5:
  benefices: Avec notre masque, peu de produit déposé suffit pour beaucoup d’effet !
  allergenes:
  color: tiare-light
  background:
    url: AP_TIARE.png


section_ingredients:
  titre: Découvrez <br>nos ingrédients
  href: /les-ingredients
  background:
    url: AdobeStock_-35-b&w-960w.png
    color: fruits-exotiques-light
---

<main class="la-gamme">

  <h1 class="visually-hidden">{{ page.title }}</h1>

  {% include conseils.html conseils=page.section_conseils background_color=page.section_conseils_background_color %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit1 | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole1 %}

  {% include gamme.html gamme=page.section_gamme1 %}

  <h2 class="ta-center py-7">{{ page.titre_category_produit2 | textilize }}</h2>

  {% include protocole.html protocole=page.section_protocole2 %}

  {% include gamme.html gamme=page.section_gamme2 %}

  {% include ingredients.html ingredients=page.section_ingredients %}

</main>
