// -----------------------------------------------------------------------------
// This file contains all styles related to the circle component.
// -----------------------------------------------------------------------------

.circle {
	border-radius: 50%;
	width: 182px;
	height: 182px;
}
