// -----------------------------------------------------------------------------
// This file contains all styles related to the features component.
// -----------------------------------------------------------------------------

.features {
	list-style: none;
	margin: 4rem auto;
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 16px;
		text-transform: uppercase;
		figure {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			img {
				width: 128px;
				height: 128px;
				object-fit: contain;
			}
		}
	}
}
.invert .features img {
	border-color: white;
}