// -----------------------------------------------------------------------------
// This file contains all styles related to the features component.
// -----------------------------------------------------------------------------

.features {
	list-style: none;
	margin: 4rem auto;
	li {
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		font-size: 16px;
		text-transform: uppercase;
		figure {
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
			svg {
				width : 100%;
				max-width: 128px;
				height : 100%;
				max-height: 128px;
			}
		}
	}
}
.invert .features img {
	color: white;
}