// -----------------------------------------------------------------------------
// This file contains all styles related to the swiper component.
// -----------------------------------------------------------------------------

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 20px !important;
}
.swiper-pagination-bullet {
  width: 24px !important;
  height: 24px !important;
  background-color: #fff !important;
  opacity: 1 !important;
  &-active {
    background-color: var(--brand-color) !important;
  }
}

[class^="swiper-button"] {
	&:after {
		color: white;
	}
}
.swiper-button-prev-text {
	left: 50px;
}
.swiper-button-next-text {
	right: 50px;
}

.swiper-button-prev-img {
	left: 50px;
}
.swiper-button-next-img {
	right: 50px;
}
