// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

body {
	margin-top: 315px;  // same than #header height
}

#header {
	height: 315px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	-webkit-transition: margin-top 0.5s cubic-bezier(0.22, 1, 0.36, 1);
	transition: margin-top 0.5s cubic-bezier(0.22, 1, 0.36, 1);
	will-change: margin-top;
	#top {
		font-size: 21px;
		height: 54px;
		line-height: 1.5;
		padding-top: 2px;
		z-index: 100;
	}
	#top,
	#logo-container {
		-webkit-transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.5s cubic-bezier(0.22, 1, 0.36, 1);
		transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.5s cubic-bezier(0.22, 1, 0.36, 1);
		will-change: transform, opacity;
		opacity: 1;
	}
	#logo-container {
		flex: 1;
	}
	#logo {
		margin: auto;
		max-width: 330px;
	}
	button {
		position: fixed;
		top: 80px;
		right: 50px;
		box-sizing: content-box;
		background: none;
		padding: 0;
		width: 40px;
		height: 40px;
		border: none;
		cursor: pointer;
		color: var(--brand-color);
		z-index: 9999;
		display: none;
		-webkit-transition: top 0.5s cubic-bezier(0.22, 1, 0.36, 1);
		transition: top 0.5s cubic-bezier(0.22, 1, 0.36, 1);
		will-change: top;
	}
	#hero {
		img {
			height: 640px;
		}
	}
	nav {
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		z-index: 100;
		transition: all 0.2s ease;
    will-change: font-size, opacity, top;
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      list-style: none;
      background-color: #fff;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
      padding: 0.875rem 1rem;
      z-index: 2;
      .dropdown-item {
      	font-size: 1rem;
      	font-weight: normal;
      	line-height: 1.5;
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
		#menu {
			margin: auto;
			padding: 0;
			list-style: none;
			-webkit-transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
			transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
			will-change: transform;
			> li {
				padding: 0 10px;
				&:first-child {
					-webkit-transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
					transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);;
					position: absolute;
					top: -90px;
					left: -50px;
					opacity: 0;
					& > a {
						display: block;
					 	background: center / contain no-repeat url("../img/TGE-icon.png");
					 	width: 70px;
					 	height: 67.5px;
					 	margin: 10px;
				 }
				}
				&:nth-child(2) {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
      }
      .first-level {
        &:first-child {
          // display: none;
          & > a {
            background: center / contain no-repeat url("../img/TGE-icon.png");
            width: 70px;
            height: 67.5px;
          }
        }
      }
		}
		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			font-size: 20px;
			height: 90px;
			#menu {
				height: 100%;
				li:first-child {
					top: 0px;
					opacity: 1;
				}
			}
		}
	}
}

@media (max-width: $breakpoint-lg) {
	#header {
		nav.fixed {
			font-size: 16px;
		}
	}
}

@media (max-width: $breakpoint-md) {
	body {
		margin-top: 178px; // same than #header height
	}
	#header {
		height: 178px;
		justify-content: flex-start;
		&.scrolled {
			margin-top: -38px;
			nav button {
				top: 22px;
			}
			nav #menu > li:nth-child(2) {
				margin-top: 89px;
			}
		}
		#top {
			font-size: 18px;
			line-height: 36px;
		}
		.container {
			padding: 0px 5%;
		}
		#logo {
			margin: 20px 0;
			max-height: 100px;
			max-width: 264px;
			width: 40%;
		}
		button {
			display: block;
		}
		nav {
			position: inherit;
			&.fixed {
				position: initial;
			}
			#menu {
				background: white;
				flex-direction: column;
				align-items: center;
				align-content: flex-start;
				justify-content: flex-start;
				overflow-y: auto;
				text-align: left;
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100vh;
				width: 320px;
				font-size: 16px;
				z-index: 999;
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
				opacity: 0;
				display: none;
				li {
					width: 100%;
					padding: 0;
					line-height: 1.3em;
					border-bottom: 1px solid #ebebeb;
					a {
						width: 100%;
						padding: 11px 25px 9px 50px !important;
						max-height: 39px;
					}
					&:first-child {
						position: initial;
						height: 140px;
						align-items: center;
						justify-content: flex-start;
						opacity: 1 !important;
						a {
							margin: 0 0 0 50px;
							padding: 0 !important;
							width: 100%;
							background-position: left;
						}
					}
					&:hover, &:focus, &:active {
						background: #f8f8f8;
					}
				}
				> li:first-child {
					position: fixed;
					top: 32px;
					left: 0 !important;
					background-color: white;
					z-index: 999;
					a {
						max-height: 140px;
					}
				}
				> li:nth-child(2) {
					border-top: 1px solid #ebebeb;
					margin-top: 121px;
				}
				&.menu-expanded {
					-webkit-transform: translateX(0%);
					transform: translateX(0%);
					opacity: 1;
					z-index: 999;
					overflow-x: hidden;
					padding: 50px 0;
					.dropdown {
						display: flex;
						flex-direction: column;
						a {
							padding: 10px 50px !important;
						}
					}
					.dropdown-content {
					  display: flex;
					  flex-direction: column;
					  position: relative;
						width: 100%;
						box-shadow: 0 0 0 0;
						padding: 0;
					  .dropdown-item {
					  	border-top: 1px solid #ebebeb;
					  	border-bottom: none;
					  	font-size: 1rem;
					  	font-weight: normal;
					  	line-height: 1.5;
					  	height: auto;
					  	a {
					  		display: block;
					  		padding: 5px 50px !important;
					  		margin: 0;
					  	}
					  }
					}
				}
				&:after {
					display: block;
					content: "";
					min-height: 40px;
					width: 100%;
				}
			}
		}
	}
}

#menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 998;
	opacity: 0;
	transition: opacity 0.4s cubic-bezier(0.25, 1, 0.5, 1);
	will-change: opacity;
	&.menu-expanded {
		opacity: 1;
	}
}

.transition {
	transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
	will-change: transform, opacity;
}

@media (max-width: $breakpoint-sm) {
	body {
		margin-top: 120px;  // same than #header height
	}
	#header {
		height: 120px;
		#top {
			font-size: 2.4vw;
		}
		#logo {
			width: 120px;
		}
		button {
			top: 60px;
		}
		nav #menu > li:first-child {
			top: 12px;
		}
		nav #menu > li:nth-child(2) {
			margin-top: 101px;
		}
	}
}

@media (min-width: 769px) { // $breakpoint-md + 1
	#header.scrolled {
		margin-top: -225px;
		#top.hide,
		#logo-container.hide {
			transform: translateY(-54px);
			opacity: 0;
		}
		nav {
			height: 90px;
			#menu {
				height: 100%;
				-webkit-transform: translateX(40px);
				transform: translateX(40px);
				.first-level:first-child {
					top: 0px;
					left: -90px;
					opacity: 1;
				}
			}
		}
	}
}
