// -------------------------------------------------------------------------------
// This file contains all styles related to the typography of the site/application.
// -------------------------------------------------------------------------------

/**
 * Basic typography style for copy text
 */
body {
	font-family: 'NeutraText', $font-stack;
	font-size: 22px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fw-book {
	font-weight: normal;
}
.fw-bold {
	font-weight: bold;
}
.geomanist {
	font-family: 'Geomanist', $font-stack;
}

h1, h2, h3, h4, h5, h6 {
	margin-left: -0.05em;
	line-height: 1;
}

h1, h2 {
	font-size: 40px;
}
h3 {
	font-size: 37px;
}

h1, h2, h3, h4,
.uppercase {
	text-transform: uppercase;
}

p {
	line-height: 1.5; // (24px)
	margin: 0;
	max-width: 30em;
}
p + p {
	margin-top: 0.85em;
}

small, .small {
	font-size: $font-size-1;
	line-height: 1.685;
}

ul, li {
	padding: 0;
}

.fz-1, .fz-1 > * { font-size: $font-size-1 !important; }
.fz-2, .fz-2 > * { font-size: $font-size-2 !important; }
.fz-3, .fz-3 > * { font-size: $font-size-3 !important; }
.fz-4, .fz-4 > * { font-size: $font-size-4 !important; }
.fz-5, .fz-5 > * { font-size: $font-size-5 !important; }


/**
 * Selection
 */
::selection {
  background-color: var(--brand-color);
  color: white;
}
::-moz-selection {
  background-color: var(--brand-color);
  color: white;
}
