// -------------------------------------------------------------------------------
// This file contains all styles related to the typography of the site/application.
// -------------------------------------------------------------------------------

/**
 * Basic typography style for copy text
 */
body {
	font-family: 'NeutraText', $font-stack;
	font-size: 22px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fw-book {
	font-weight: normal;
}
.fw-bold {
	font-weight: bold;
}
.geomanist {
	font-family: 'Geomanist', $font-stack;
}

h1, h2, h3, h4, h5, h6 {
	margin-left: -0.05em;
	line-height: 1;
}

h1, h2 {
	font-size: 40px;
	@media (max-width: $breakpoint-sm) {
		font-size: 30px;
	}
}
h3 {
  font-size: 34px;
  @media (max-width: $breakpoint-sm) {
		font-size: 24px;
  }
  margin-block-end: 0.5em;
}

h1, h2, h3, h4,
.uppercase {
	text-transform: uppercase;
}
.subtitle {
	text-transform: initial;
}

p {
	line-height: 1.5; // (24px)
	margin: 0;
	max-width: 40em;
}
p + p {
	margin-top: 0.85em;
}

small, .small {
	font-size: $font-size-1;
	line-height: 1.685;
}

ul, li {
	padding: 0;
}

.fz-1, .fz-1 > * { font-size: $font-size-1 !important; }
.fz-2, .fz-2 > * { font-size: $font-size-2 !important; }
.fz-3, .fz-3 > * { font-size: $font-size-3 !important; }
.fz-4, .fz-4 > * { font-size: $font-size-4 !important; }
.fz-5, .fz-5 > * { font-size: $font-size-5 !important; }


.underline,
.text-container a {
	text-decoration: underline !important;
}

.text-container > ul, .text-container > ol {
  max-width: 40em;
}

.text-container > ul {
  padding-left: 2em;
}

blockquote {
  border-left: 1px solid var(--brand-color);
  margin-left: 0;
  padding-left: 1em;
}

figcaption {
  text-align: center;
  margin: 0 !important;
}

/**
 * Selection
 */
::selection {
  background-color: var(--brand-color);
  color: white;
}
::-moz-selection {
  background-color: var(--brand-color);
  color: white;
}
